<!-- Generated html file -->
<div id="group1"  class=" col-md-5 "> <!-- group1 begins-->
<div class="form-group">
<label for="input2">User name</label>
<input class=" form-control"  placeholder="User name" name="input2" id="input2" type="text" ng-model="null"/>
</div> <!-- div id:input2 -->
<div class="form-group">
<label for="input3">Email</label>
<input class=" form-control"  placeholder="Email" name="input3" id="input3" type="text" ng-model="null"/>
</div> <!-- div id:input3 -->
<div class="form-group">
<label for="input4">Password</label>
<input class=" form-control"  placeholder="Password" name="input4" id="input4" type="password" ng-model="null"/>
</div> <!-- div id:input4 -->
<div class="form-group" >
<label for="textarea5">Your msg</label>
<div>
<textarea id="textarea5" class="form-control" name="textarea5" ng-model="message"></textarea>
</div>
</div>
<button >Post</button>
</div> <!-- group1 ends-->
