<div class="section">
    <h6>Design</h6>
    <div class="form-group">
        <!--<label >Style</label>-->
        <div class="input-group" >
            <input class="form-control"  type="text" ng-model="currentComponent.style" placeholder="component Style" />
        </div>
    </div>
    <div>
        <!--<label >Class</label>-->
        <div class="input-group ">
            <input class="form-control" type="text" ng-model="currentComponent.class" placeholder="component css class" />
        </div>
    </div>
    <div class="checkbox-inline">
        <label>
            <input type="checkbox" ng-model="currentComponent.dynamic_class"> dynamic css class
        </label>
    </div>
</div>

<div class="section">
    <h6>View</h6>
    <div class="form-group">
        <!--<label  class="input-group-addon" id="basic-addon1" for="" title="" >Id</label>-->
        <div class="input-group">
            <input class="form-control" type="text" placeholder="component id" ng-model="currentComponent.id" />
        </div>
    </div>
    <div class="form-group">
        <!--<label   class="input-group-addon" id="basic-addon1" for="" title="" >Label</label>-->
        <div class="input-group">
            <input  class="form-control" type="text" placeholder="component label" ng-model="currentComponent.label" />
        </div>
    </div>
    <div class="form-group">
        <label class="radio-inline">
            <input type="radio" name="optradio" value="left" ng-model="currentComponent.position">left
        </label>
        <label class="radio-inline">
            <input type="radio" name="optradio" value="center" ng-model="currentComponent.position">center
        </label>
        <label class="radio-inline">
            <input type="radio" name="optradio" value="right"  ng-model="currentComponent.position">right
        </label>
    </div>

    <div class="form-group">
        <!--<label for="width" title="">Width</label>-->
        <select id="width" type="text" placeholder="width" class="form-control" ng-model="currentComponent.width">
            <option value="null">comp width</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select>
    </div>
    <div class="checkbox-inline">
        <label>  <div class=""><input type="checkbox" ng-model="currentComponent.lzm" ></div>lazy mode</label><br>
        <label> <div class=""><input type="checkbox" ng-model="currentComponent.reado"></div>read only</label><br>
    </div>
</div>