<div class="section">
    <h6>Design</h6>
    <div class="form-group">
        <!--<label >Style</label>-->
        <div class="input-group" >
            <input class="form-control"  type="text" ng-model="currentComponent.style" placeholder="component Style" />
        </div>
    </div>
    <div>
        <!--<label >Class</label>-->
        <div class="input-group ">
            <input class="form-control" type="text" ng-model="currentComponent.class" placeholder="component css class" />
        </div>
    </div>
    <div class="checkbox-inline">
        <label>
            <input type="checkbox" ng-model="currentComponent.dynamic_class"> dynamic css class
        </label>
    </div>
</div>

<div class="section">
    <h6>View</h6>
    <div class="form-group">
        <!--<label  class="input-group-addon" id="basic-addon1" for="" title="" >Id</label>-->
        <div class="input-group">
            <input class="form-control" type="text" placeholder="component id" ng-model="currentComponent.id" />
        </div>
    </div>
    <div class="form-group">
        <!--<label   class="input-group-addon" id="basic-addon1" for="" title="" >Label</label>-->
        <div class="input-group">
            <input  class="form-control" type="text" placeholder="component label" ng-model="currentComponent.label" />
        </div>
    </div>
</div>

<!--<div style="padding-top:10px">-->
    <!--<h4>Options</h4>-->

    <!--<div  class="form-group ">-->
        <!--<div class="input-group">-->
            <!--<input type="text" class="form-control"  ng-model="currentComponent.tabparam.label" placeholder="tab label"/>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div  class="form-group ">-->
        <!--<div class="input-group">-->
            <!--<input type="text" class="form-control"  ng-model="currentComponent.tabparam.anchor" placeholder="tab anchor"/>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div>-->
        <!--<button data-ng-click="g_Add(2,currentComponent.tabparam)" class="btn bg-primary">Add </button>-->
        <!--<button data-ng-click="g_Clear(2)" class="btn bg-primary">Clear </button>-->
    <!--</div>-->

    <!--<div  style=" display:inline-block; width: 100%; height:100px; overflow-y:scroll; border:1px solid lightgray; margin-top: 13px;">-->
        <!--<ul>-->
            <!--<li ng-repeat="item in currentComponent.collection">-->
                <!--<a data-ng-click="g_Set(2, item)">{{item.label}}</a>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</div>-->

<div class="section">
    <h6>Controller</h6>
    <div class="form-group">
        <!--<label  class="" for="model" title="" >model</label>-->
        <div class="input-group" >
            <input  id="model" class="form-control" type="text" ng-model="currentComponent.model" />
            <!-- <ng-include src="currentComponent.controllerfile"></ng-include> -->
        </div>
    </div>
</div>
