

<!-- Generated html file -->
<div id="content"  style="padding: 0;"  class=" col-md-10 col-md-offset-1 "> <!-- content begins-->
    <div class="task floatingPanel row" ng-repeat="item in _tasks" data-ng-click="checktask()">
        <div class="notificone col-md-1">
            <span class="glyphicon glyphicon-tasks"></span>
        </div>
        <div class="col-md-4 taskname">
            {{item.name}}
        </div>
        <div class="col-md-7 taskdesc">
            {{item.desc}}
        </div>
    </div>
    <span ng-show="_tasks.length==0" class="glyphicon glyphicon-tasks notask"> No pending tasks</span>
</div> <!-- content ends-->

