    <div class="form-group">
        <label >Id</label>
        <div class="input-group">
            <input class="form-control" type="text" placeholder="component id" ng-model="currentComponent.id" />
        </div>
    </div>
    <div class="form-group">
        <label >Label</label>
        <div class="input-group">
            <input  class="form-control" type="text" placeholder="component label" ng-model="currentComponent.label" />
        </div>
    </div>
    <div class="form-group">
        <label >other attributes</label>
        <div class="input-group">
            <textarea name="" id="" cols="30" rows="10" class="form-control" ng-model="currentComponent.otherAttr" placeholder="enter the component's extra attributes"></textarea>
        </div>
    </div>
