        <div class="form-group">
            <label >Style</label>
            <div class="input-group" >
                <input class="form-control"  type="text" ng-model="currentComponent.style" placeholder="component Style" />
            </div>
        </div>
        <div class="form-group">
            <label >Class</label>
            <div class="input-group ">
                <input class="form-control" type="text" ng-model="currentComponent.class" placeholder="component css class" />
            </div>
        </div>
        <div class="checkbox">
            <label class="checkbox"><input  type="checkbox"  ng-model="currentComponent.dynamic_class">
                <span class="box"></span>
                dynamic css class
            </label>
        </div> <!-- div id:input30 -->