<div class="section">
	<h6>Design</h6>
	<div ng-include="'app/modules/generator/views/partials/_generic.html'"></div>
</div>

<div class="section">
	<h6>View</h6>
	<div ng-include="'app/modules/generator/views/partials/_genericView.html'"></div>
</div>

<div class="section">
	<h6>Controller</h6>
	<div ng-include="'app/modules/generator/views/partials/_genericCtrl.html'"></div>
	<div  class="form-group">
		<label  for="collection" >collection</label>
		<div class="input-group">
			<input id="collection" class="form-control"  type="text" ng-model="currentComponent.collection" placeholder="data collection" />
		</div>
	</div>
	<div  class="form-group">
			<label  for="collection" >returned value</label>
			<div class="input-group">
				<input id="retv" class="form-control"  type="text" ng-model="currentComponent.returned" placeholder="value returned by datalist"/>
			</div>
	</div>
	

</div>

