<div class="section">
    <h6>Design</h6>
    <div ng-include="'app/modules/generator/views/partials/_generic.html'"></div>
</div>

<div class="section">
    <h6>View</h6>
    <div ng-include="'app/modules/generator/views/partials/_genericView.html'"></div>
    <span>
        <a href data-ng-click="currentComponent.position='null'">reset position</a>
    </span>
    <label class="radio-inline">
        <input type="radio" name="optradio" value="left" ng-model="currentComponent.position">left
    </label>
    <label class="radio-inline">
        <input type="radio" name="optradio" value="center" ng-model="currentComponent.position">center
    </label>
    <label class="radio-inline">
        <input type="radio" name="optradio" value="right"  ng-model="currentComponent.position">right
    </label>
</div>

<div class="form-group">
    <label for="width" title="">width</label>
    <select id="width" type="text" placeholder="width" class="form-control" ng-model="currentComponent.width">
        <option value="null">comp width</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
    </select>
</div>
<div class="form-group">
    <div class="">
        <label  class="checkbox-inline"><input id="collapsible" type="checkbox" ng-model="currentComponent.collapsible"/>collapsible</label>
    </div>
</div>
<div class="form-group">
    <div class="">
        <label  class="checkbox-inline"><input id="uiview" type="checkbox" ng-model="currentComponent.uiview"/>ui-view</label>
    </div>
</div>

<div class="form-group">
    <div class="input-group">
        <label for="row" class="checkbox-inline"><input id="row" type="checkbox" ng-model="currentComponent.row"/>row</label>
    </div>
</div>

<div class="form-group">
    <div class="input-group">
        <label for="src">src</label>
        <input id="src"  class="form-control" placeholder="src for ng-include (optional)" type="text" ng-model="currentComponent.src"/>
    </div>
</div>
<div class="form-group">
    <div class="input-group">
        <label for="expression">Expression</label>
        <input id="expression" placeholder="ng-if expression (optional)" class="form-control" name="src" type="text" ng-model="currentComponent.expression"/>
    </div>
</div>





















