<div class="section">
    <h6>Design</h6>
    <div ng-include="'app/modules/generator/views/partials/_generic.html'"></div>
</div>

<div class="section">
    <h6>View</h6>
    <div ng-include="'app/modules/generator/views/partials/_genericView.html'"></div>
    <span>
        <a href data-ng-click="currentComponent.position='null'">reset position</a>
    </span>
    <div class="md-radio md-radio-inline">
        <p>Position</p>
        <input id="2a" value="left" ng-model="currentComponent.position" type="radio" name="g2" checked>
        <label for="2a">left</label>
        <input id="b" value="center" ng-model="currentComponent.position" type="radio" name="g2" >
        <label for="b">center
        </label><input id="3b" value="right" ng-model="currentComponent.position" type="radio" name="g2" >
        <label for="3b">right</label>
    </div>
</div>

<div class="form-group">
    <label for="width" title="">Width</label>
    <select id="width" type="text" placeholder="width" class="form-control" ng-model="currentComponent.width">
        <option value="null">comp width</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
    </select>
</div>

<div class="checkbox">
    <label class="checkbox"><input  type="checkbox" ng-model="currentComponent.collapsible">
        <span class="box"></span>
        collapsible
    </label>
</div> <!-- div id:input30 -->
<div class="checkbox">
    <label class="checkbox"><input  type="checkbox" ng-model="currentComponent.uiview">
        <span class="box"></span>
        ui-view
    </label>
</div> <!-- div id:input30 -->
<div class="checkbox">
    <label class="checkbox"><input  type="checkbox" ng-model="currentComponent.row">
        <span class="box"></span>
        row
    </label>
</div> <!-- div id:input30 -->
<div class="form-group">
    <div class="input-group">
        <label for="src">Src</label>
        <input id="src"  class="form-control" placeholder="src for ng-include (optional)" type="text" ng-model="currentComponent.src"/>
    </div>
</div>
<div class="form-group">
    <div class="input-group">
        <label for="expression">Expression</label>
        <input id="expression" placeholder="ng-if expression (optional)" class="form-control" name="src" type="text" ng-model="currentComponent.expression"/>
    </div>
</div>





















