<div class="section">
    <h6>Design</h6>
    <div class="form-group">
        <label >Style</label>
        <div class="input-group" >
            <input class="form-control"  type="text" ng-model="currentComponent.style" placeholder="component Style" />
        </div>
    </div>
    <div>
        <label >Class</label>
        <div class="input-group ">
            <input class="form-control" type="text" ng-model="currentComponent.class" placeholder="component css class" />
        </div>
    </div>
    <div class="checkbox">
        <label class="checkbox"><input  type="checkbox" ng-model="dynamic_class">
            <span class="box"></span>
            dynamic css class
        </label>
    </div> <!-- div id:input30 -->
</div>

<div class="section">
    <h6>View</h6>
    <div class="form-group">
        <label  class="input-group-addon"  title="" >Id</label>
        <div class="input-group">
            <input class="form-control" type="text" placeholder="component id" ng-model="currentComponent.id" />
        </div>
    </div>
    <div class="form-group">
        <label   class="input-group-addon" id="basic-addon1"  title="" >Label</label>
        <div class="input-group">
            <input  class="form-control" type="text" placeholder="component label" ng-model="currentComponent.label" />
        </div>
    </div>
</div>

<div class="section">
    <h6>Controller</h6>
    <div class="form-group">
        <label  class="" for="model" title="" >Model</label>
        <div class="input-group" >
            <input  id="model" class="form-control" type="text" ng-model="currentComponent.model" />
            <!-- <ng-include src="currentComponent.controllerfile"></ng-include> -->
        </div>
    </div>
</div>
