<div class="section">
    <h6>Design</h6>
    <div ng-include="'app/modules/generator/views/partials/_generic.html'"></div>
</div>

<div class="section">
    <h6>View</h6>
    <div ng-include="'app/modules/generator/views/partials/_genericView.html'"></div>
</div>

<div class="section">
    <h6>Controller</h6>
    <div class="form-group">
        <label >Collection</label>
        <div class="input-group" >
            <input class="form-control"  type="text" ng-model="currentComponent.collection" placeholder="array of object" />
        </div>
    </div>
</div>


