<div class="section">
  <h6>Design</h6>
  <div ng-include="'_generic.html'"></div>
</div>

<div class="section">
  <h6>View</h6>
  <div ng-include="'_genericView.html'"></div>
  <div class="checkbox-inline">
    <label> <input type="checkbox" ng-model="component.dynamic_label"> dynamic label </label>
  </div>
  <div class="form-group">
    <label  >link url</label>
    <div class="input-group">
      <input  class="form-control" type="text" placeholder="ui-sref" ng-model="currentComponent.sref" />
    </div>
  </div>
  <div class="form-group  input-group">
    <label class="control-label"  for="click">click</label>
    <div class="input-group">
      <input id="click" class="form-control"  type="text" placeholder="data-ng-click function" name="click" ng-model="currentComponent.click"/>
    </div>
  </div>
  <div class="form-group">
    <label   class="control-label" id="basic-addon1" for="" title="" >link url</label>
    <div class="input-group">
      <input  class="form-control" type="text" placeholder="data-toggle" ng-model="currentComponent.toggle" />
    </div>
  </div>

</div>

<div class="section">
  <h6>Controller</h6>
  <div ng-include="'_genericCtrl.html'"></div>
</div>
