<div class="section">
  <h6>Design</h6>
  <div ng-include="'app/modules/generator/views/partials/_generic.html'"></div>
</div>

<div class="section">
  <h6>View</h6>
  <div ng-include="'app/modules/generator/views/partials/_genericView.html'"></div>
  <div class="checkbox">
    <label class="checkbox"><input  type="checkbox" ng-model="currentComponent.dynamic_label">
      <span class="box"></span>
      dynamic label
    </label>
  </div> <!-- div id:input30 -->
  <div class="form-group">
    <label  >link url</label>
    <div class="input-group">
      <input  class="form-control" type="text" placeholder="ui-sref" ng-model="currentComponent.sref" />
    </div>
  </div>
  <div class="form-group  input-group">
    <label class="control-label"  for="click">Click</label>
    <div class="input-group">
      <input id="click" class="form-control"  type="text" placeholder="data-ng-click function" name="click" ng-model="currentComponent.click"/>
    </div>
  </div>
  <div class="form-group">
    <label   class="control-label" >Link url</label>
    <div class="input-group">
      <input  class="form-control" type="text" placeholder="data-toggle" ng-model="currentComponent.toggle" />
    </div>
  </div>

</div>

<div class="section">
  <h6>Controller</h6>
  <div ng-include="'app/modules/generator/views/partials/_genericCtrl.html'"></div>
</div>
