<!-- Generated html file -->
<div id="racine"  style=""  class="racine content-inner col-md-10 col-md-offset-1 "> <!-- racine begins-->
    <div id="recepteur"  style=""  class="floatingPanel recepteur col-md-7 "> <!-- recepteur begins-->
        <uib-tabset >
            <uib-tab index="13"  heading="treeview"> <!--begins-->
                <div id="group132"  style="padding-right:0px"  class=" row "> <!-- group132 begins-->
                    <div id="group136"  style="overflow-y: auto; max-height: 363px;"  class=" col-md-8 "> <!-- group136 begins-->
                        <div id="group143_copy1"  class=""> <!-- group143_copy1 begins-->
                            <span  style="margin-bottom:15px"  class="fa fa-window-restore"></span>
                            <span >components </span>
                        </div> <!-- group143_copy1 ends-->
                        <div class=""
                             data-angular-treeview="true"
                             data-tree-id="tree1"
                             data-tree-model="components.children"
                             data-node-id=""
                             data-node-click="cclick"
                             data-node-children="children"
                             data-tree-actions="treeActions"
                        >
                        </div>
                    </div> <!-- group136 ends-->
                    <div id="group134"  style="border-left:1px solid gainsboro; max-width:230px; border-right:1px solid gainsboro; overflow-y:auto; max-height: 363px;"  class=" col-md-4 "> <!-- group134 begins-->
                        <div id="group143"  class=""> <!-- group143 begins-->
                            <span  style="margin-bottom:15px"  class="fa fa-sliders"></span>
                            <span >properties </span>
                        </div> <!-- group143 ends-->
                        <div id="group145"  ui-view="" class=""> <!-- group145 begins-->
                        </div> <!-- group145 ends-->
                    </div> <!-- group134 ends-->
                </div> <!-- group132 ends-->
            </uib-tab> <!--end-->
            <uib-tab index="14"  heading="functions"> <!--begins-->
                <div id="function-title"  class=""> <!-- function-title begins-->
                    <span  style="margin-bottom:15px"  class="fa fa-cogs"></span>
                    <span >state functions  </span>
                </div> <!-- function-title ends-->

                <div class="form-group">
                    <label for="input17">Name</label>
                    <input class=" form-control"  placeholder="name" name="input17" id="input17" type="text" ng-model="function.name"/>
                </div> <!-- div id:input17 -->
                <div class="form-group" >
                    <label for="textarea18">content</label>
                    <div>
                        <textarea id="textarea18" class="form-control" name="textarea18" ui-codemirror="cmOption" ng-model="function.content"></textarea>
                    </div>
                </div>
                <div id="action"  class=""> <!-- action begins-->
                    <button  class="floatingPanel" ng-click="clear()">Clear</button>
                    <button  class="floatingPanel" ng-click="add()">Add</button>
                </div> <!-- action ends-->
                <ul >
                    <li  ng-repeat='item in currentComponent.functions'>
                        <a >
                            {{item.name}}</a>
                    </li>
                </ul>
            </uib-tab> <!--end-->
            <uib-tab index="15"  heading="operations"> <!--begins-->
                <div id="operation-title"  class=""> <!-- operation-title begins-->
                    <span  style="margin-bottom:15px"  class="fa fa-gear">   </span>
                    <span >state functions </span>
                </div> <!-- operation-title ends-->
                <div id="group117"  style=""  class=" col-md-12 "> <!-- group117 begins-->
                    <div id="data"  class=""> <!-- data begins-->
                        <div class="form-group">
                            <label for="input23">Name</label>
                            <input class=" form-control"  placeholder="name" name="input23" id="input23" type="text" ng-model="operation.name"/>
                        </div> <!-- div id:input23 -->
                        <div class="form-group">
                            <label for="input24">Icon</label>
                            <input class=" form-control"  placeholder="icon" name="input24" id="input24" type="text" ng-model="operation.icon"/>
                        </div> <!-- div id:input24 -->
                        <div class="form-group" >
                            <label for="textarea146">dependances</label>
                            <div>
                                <textarea id="textarea146" class="form-control" name="textarea146" ng-model="operation.dpd"></textarea>
                            </div>
                        </div>
                        <div class="form-group" >
                            <label for="textarea27">Action</label>
                            <div>
                                <textarea id="textarea27" class="form-control" name="textarea27" ui-codemirror="cmOption" ng-model="operation.action"></textarea>
                            </div>
                        </div>
                    </div> <!-- data ends-->
                    <div id="actions"  class=""> <!-- actions begins-->
                        <button  class="floatingPanel" ng-click="clear()">clear</button>
                        <button  class="floatingPanel" ng-click="addoperation()">add operation</button>
                        <button  class="floatingPanel" ng-click="delOperation()">delete</button>
                    </div> <!-- actions ends-->
                    <ul >
                        <li  ng-repeat='item in currentComponent.operations'>
                            <a  ng-click='setoperation(item)'>
                                {{item.name}}</a>
                        </li>
                    </ul>
                </div> <!-- group117 ends-->
            </uib-tab> <!--end-->
            <uib-tab index="16"  heading="variables"> <!--begins-->
                <div id="variable-title"  class=""> <!-- variable-title begins-->
                    <span  style="margin-bottom:15px"  class="fa fa-random"></span>
                    <span >state variables  </span>
                </div> <!-- variable-title ends-->
                <div class="form-group">
                    <label for="input29">Name</label>
                    <input class=" form-control"  placeholder="name" name="input29" id="input29" type="text" ng-model="variable.name"/>
                </div> <!-- div id:input29 -->
                <div class="form-group">
                    <label for="input_">service form</label>
                    <input class=" form-control"  placeholder="service form" name="input29" id="input_" type="text" ng-model="variable.servform"/>
                </div> <!-- div id:input29 -->
                <div class="form-group">
                    <label for="input__">module form</label>
                    <input class=" form-control"  placeholder="module form" name="input29" id="input__" type="text" ng-model="variable.modform"/>
                </div> <!-- div id:input29 -->
                <div >
                    <label for="input30">resolve</label>
                    <input class=" "  placeholder="resolve" name="input30" id="input30" type="checkbox" ng-model="variable.resolve"/>
                </div> <!-- div id:input30 -->
                <div >
                    <label for="input">async</label>
                    <input name="input30" id="input" type="checkbox" ng-model="currentComponent.async"/>
                </div> <!-- div id:input30 -->
                <div class="form-group" >
                    <label for="textarea124">value</label>
                    <div>
                        <textarea id="textarea124" class="form-control" name="textarea124" ng-model="variable.value"></textarea>
                    </div>
                </div>
                <div id="action"  class=""> <!-- action begins-->
                    <button  ng-click="addv()">Add</button>
                    <button  class="floatingPanel" ng-click="delv()">delete</button>
                    <button  class="floatingPanel" ng-click="clear()">Clear</button>
                </div> <!-- action ends-->
                <ul >
                    <li  ng-repeat='item in components.variables'>
                        <a  ng-click='setv(item)'>
                            {{item.name}}</a>
                    </li>
                </ul>
            </uib-tab> <!--end-->
            <uib-tab index="77"  heading="configs"> <!--begins-->
                <div id="title"  class=""> <!-- title begins-->
                    <span  style="margin-bottom:15px"  class="fa fa-wrench"></span>
                    <span >state configs </span>
                </div> <!-- title ends-->
                <div id="group82"  class=" col-md-12 "> <!-- group82 begins-->
                    <div >
                        <label for="input30">view in main menu</label>
                        <input name="input30" id="input0" type="checkbox" ng-model="currentComponent.role"/>
                    </div> <!-- div id:input30 -->
                    <div class="form-group">
                        <label for="input78">role</label>
                        <input class=" form-control"  placeholder="viewer role" name="input78" id="iput78" type="text" ng-model="currentComponent.role"/>
                    </div> <!-- div id:input78 -->
                    <div class="form-group">
                        <label for="input78">state</label>
                        <input class=" form-control"  placeholder="state" name="input78" id="input78" type="text" ng-model="currentComponent.state"/>
                    </div> <!-- div id:input78 -->
                    <div class="form-group">
                        <label for="input105">url</label>
                        <input class=" form-control"  placeholder="url" name="input105" id="input105" type="text" ng-model="currentComponent.url"/>
                    </div> <!-- div id:input105 -->
                    <div  >
                        <label for="radio111">template type</label>
                        <div  class="spacer">
                            <label class=" radio-inline">
                                <input id="radio111" type="radio" value="static" ng-model="currentComponent.templatetype"> static
                            </label>
                            <label class=" radio-inline">
                                <input id="radio111" type="radio" value="function" ng-model="currentComponent.templatetype"> function
                            </label>
                        </div>
                    </div> <!-- div id:radio111 -->
                    <div class="form-group" >
                        <label for="textarea110">templateUrl</label>
                        <div>
                            <textarea id="textarea110" class="form-control" name="textarea110" ui-codemirror="cmOption" ng-model="currentComponent.templateUrl"></textarea>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label for="textarea122">dependances</label>
                        <div>
                            <textarea id="textarea122" class="form-control" name="textarea122" ui-codemirror="cmOption" ng-model="currentComponent.dpd"></textarea>
                        </div>
                    </div>
                </div> <!-- group82 ends-->
            </uib-tab> <!--end-->
        </uib-tabset>
    </div> <!-- recepteur ends-->
    <div id="composant"  style="margin-left:15px"  class=" row floatingPanel composants composant col-md-3 "> <!-- composant begins-->
        <uib-tabset >
            <uib-tab index="5"  heading="components"> <!--begins-->
                <div id="simple"  style=""  class="component-group"> <!-- simple begins-->
                    <h4> Simple </h4>
                    <hr>
                    <div  class="components" ng-repeat='item in HTMLcomponents.simple'>
                        <a ui-sref="root.generator.views.properties({label:item.label, type:item.type, num:currentComponent.num})" ng-click='add(item)'>
                            <div id="group39"  class="sizer col-md-6 "> <!-- group39 begins-->
                                <span >{{item.type}}</span>
                                <span  class="{{item.img}}"></span>
                            </div> <!-- group39 ends-->
                        </a>
                    </div>

                </div> <!-- simple ends-->
                <div id="container"  class="component-group"> <!-- container begins-->
                    <h4> Containers </h4>
                    <hr>
                    <div  class="components" ng-repeat='item in HTMLcomponents.container'>
                        <a ui-sref="root.generator.views.properties({label:item.label, type:item.type, num:currentComponent.num})" ng-click='add(item)'>
                            <div id="group50"  class="sizer col-md-6 "> <!-- group50 begins-->
                                <span >{{item.type}}</span>
                                <span  class="{{item.img}}"></span>
                            </div> <!-- group50 ends-->
                        </a>
                    </div>
                </div> <!-- container ends-->
                <div id="widget"  class="component-group"> <!-- widget begins-->
                    <h4> Widgets </h4>
                    <hr>
                    <div  class="components" ng-repeat='item in HTMLcomponents.widget'>
                        <a ui-sref="root.generator.views.properties({label:item.label, type:item.type, num:currentComponent.num})" ng-click='add(item)'>
                            <div id="group55"  class="sizer col-md-6 "> <!-- group55 begins-->
                                <span >{{item.type}}</span>
                                <span  class="{{item.img}}">{{item.views}}</span>
                            </div> <!-- group55 ends-->
                        </a>
                    </div>
                </div> <!-- widget ends-->
            </uib-tab> <!--end-->
            <uib-tab index="9"  heading="views"> <!--begins-->
                <ul  class="list-group partial-view">
                    <li  ng-repeat='item in models' class="list-group-item">
                        <a ui-sref="root.generator.views.properties({label:item.label, type:item.type, num:currentComponent.num})" ng-click='setModel(item)'>
                            {{item.label}}</a>
                        <span  class="glyphicon glyphicon-trash item-label"></span>
                    </li>
                </ul>
            </uib-tab> <!--end-->
        </uib-tabset>
    </div> <!-- composant ends-->
</div> <!-- racine ends-->
