<div class="section">
  <h6>Design</h6>
  <div ng-include="'app/modules/generator/views/partials/_generic.html'"></div>
</div>

<div class="section">
  <h6>View</h6>
  <div ng-include="'app/modules/generator/views/partials/_genericView.html'"></div>
</div>

<div class="section">
  <h6>Controller</h6>
  <div class="form-group">
    <label  for="model"  >Model</label>
    <div class="input-group" >
      <input  id="model" class="form-control" type="text" ng-model="currentComponent.model" placeholder="component model "/>
      <!-- <ng-include src="currentComponent.controllerfile"></ng-include> -->
    </div>
  </div>

  <div class="form-group">
    <label   for="collection"  >Collection</label>
    <div class="input-group" >
      <input  id="collection" class="form-control" type="text" ng-model="currentComponent.collection" placeholder="component collection "/>
      <!-- <ng-include src="currentComponent.controllerfile"></ng-include> -->
    </div>
  </div>
  <div class="form-group">
    <label for="rvalue"  >Rvalue</label>
    <div class="input-group" >
      <input  id="rvalue" class="form-control" type="text" ng-model="currentComponent.rvalue" placeholder="returned value"/>
      <!-- <ng-include src="currentComponent.controllerfile"></ng-include> -->
    </div>
  </div>
  <div class="form-group">
    <label  for="dvalue"  >Dvalue</label>
    <div class="input-group" >
      <input  id="dvalue" class="form-control" type="text" ng-model="currentComponent.dvalue" placeholder="displayed value "/>
      <!-- <ng-include src="currentComponent.controllerfile"></ng-include> -->
    </div>
  </div>


</div>
