<div class="section">
    <h6>Design</h6>
    <div ng-include="'app/modules/generator/views/partials/_generic.html'"></div>
</div>

<div class="section">
    <h6>View</h6>
    <div ng-include="'app/modules/generator/views/partials/_genericView.html'"></div>
    <div class="checkbox">
        <label class="checkbox" > <input type="checkbox" ng-model="currentComponent.codesource"> code editor</label>
        <span class="box"></span>
    </div>
    <div class="checkbox">
        <label class="checkbox"> <input type="checkbox" ng-model="currentComponent.codesource">code editor</label>
        <span class="box"></span>
    </div>
</div>

<div class="section">
    <h6>Controller</h6>
    <div ng-include="'app/modules/generator/views/partials/_genericCtrl.html'"></div>
</div>


