<div class="section">
    <h6>Design</h6>
    <div ng-include="'_generic.html'"></div>
</div>

<div class="section">
    <h6>View</h6>
    <div class="form-group">
        <label  >Id</label>
        <div class="input-group">
            <input class="form-control" type="text" placeholder="TreeView id" ng-model="currentComponent.treeid" />
        </div>
    </div>

    <div class="form-group">
        <label >node id</label>
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Node id" ng-model="currentComponent.nodeid" />
        </div>
    </div>

    <div class="form-group">
        <label  >children</label>
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Node children" ng-model="currentComponent.nodechildren" />
        </div>
    </div>

</div>

<div class="section">
    <h6>Controller</h6>
    <hr>
    <div class="form-group">
        <label >Label</label>
        <div class="input-group">
            <input  class="form-control" type="text" placeholder="TreeView model" ng-model="currentComponent.treemodel" />
        </div>
    </div>
    <div class="form-group">
        <label >actions collection</label>
        <div class="input-group">
            <input  class="form-control" type="text" placeholder="Actions collection" ng-model="currentComponent.treeaction" />
        </div>
    </div>
    <div class="form-group">
        <label  >node on click function</label>
        <div class="input-group">
            <input  class="form-control" type="text" placeholder="node click" ng-model="currentComponent.onclick" />
        </div>
    </div>

</div>

