
<div id="resources"  style="padding:0"  class=" row content-inner col-md-10 col-md-offset-1 "> <!-- resources begins-->
    <div id="resources_tree"  style="padding:0; min-height:465px;max-height:465px;margin-right:15px"  class="floatingPanel col-md-3 "> <!-- resources_tree begins-->
        <div id="tree_header"  style="padding: 10px 15px; margin: 0"  class="g_header"> <!-- tree_header begins-->
            <span  style="padding-right: 10px;"  class="fa fa-cogs" id="span177" ></span>
            <span  style="font-size: small; color: #0084bf;"  id="span178" >Groups</span>
        </div> <!-- tree_header ends-->
        <ul  class="items ">
            <li ng-repeat=" item in groups" ng-class="{selectedItem:item.name==selected}">
                <span  class="item-label" data-ng-click="setCurrentGroup(item)" id="span179" >{{item.name}}</span>
            </li>
        </ul>
    </div> <!-- resources_tree ends-->
    <div id="resources_params"  style="padding:0;"  class=" col-md-7 "> <!-- resources_params begins-->
        <div id="grp_params"  style="padding: 0; min-height:400px"  class="floatingPanel col-md-12 "> <!-- grp_params begins-->
            <div id="params_header"  style="padding: 10px 15px; margin: 0"  class="g_header"> <!-- params_header begins-->
                <span  style="padding-right: 10px;"  class="glyphicon glyphicon-cog" id="span158" ></span>
                <span  style="font-size: small; color: #0084bf;"  id="span159" >Roles</span>
                <ul  style="list-style: none; float: right; font-size: xx-small; display: flex; margin-bottom: 0px; width: 60px;height: 20px;padding-left: 50px;" >
                    <li  style="margin: 0"  class="dropdown nav-options" uib-dropdown auto-close="disabled" on-toggle="toggled(open) ">
                        <span  class="glyphicon glyphicon-plus g-action" data-ng-click="openModal('moduleRoles.html')" ></span>

                    </li>
                </ul>
            </div> <!-- params_header ends-->
            <div id="params_content" > <!-- params_content begins-->
                <table class="col-md-10 table">
                <tbody>
                <tr ng-repeat="role in currentGroup.roles">
                    <td>{{role.name}}</td>
                    <td>{{role.desc}}</td>
                    <td><span class="glyphicon glyphicon-trash" data-ng-click="deleteRole(role)"></span></td>
                </tr>
                </tbody>
                </table>
            </div> <!-- params_content ends-->
        </div> <!-- grp_params ends-->
    </div> <!-- resources_params ends-->

</div> <!-- resources ends-->
<script type="text/ng-template" id="moduleRoles.html" >
    <div class="modal-module-editing" style="top: 200px !important; ">
        <div class="modal-header">
            <h5 class="modal-title" id="">
                <i class="glyphicon glyphicon-th"></i>
                Module roles 
            </h5>
        </div>
        <div class="modal-body clo-md-12 "  style=" max-height:300px;overflow-y:scroll ">
            <div class="row">
                <div class="col-md-3" style="border-right: 1px solid lightgrey; height: 100%">
                    Modules
                    <ul class="items">
                        <li ng-repeat="module in modules" data-ng-click="setCurrentModule(module)" style="text-transform: uppercase" ng-class="{selectedItem:module.name==selected}">{{module.name}}</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    Roles
                    <div class="" >
                        <div  id="response"  class="floatingPanel request role" ng-repeat="item in currentModule.roles"> <!-- response begins-->
                            <p>
                                <span  class="value" id="span204_copy1" >{{item.name}}</span>
                                <button style="float: right;text-transform: uppercase" class="button default" data-ng-click="addRole(item)">add role</button>
                            </p>
                            <p  class="desc">
                                <span  class="param" id="span205_copy1" >description</span><br>
                                <span  class="desc" id="span206_copy1" >{{item.desc}}</span>
                            </p>
                        </div> <!-- response ends-->
                    </div>
                </div>
                <div class="col-md-3" style="border-left: 1px solid lightgrey; height: 100%;">
                    <ul class="items">
                        <li ng-repeat="r in roleTmp">
                            {{r.name}}
                            <span style="color: #d43f3a; float: right" class="glyphicon glyphicon-remove" data-ng-click="removeRole(r)"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="button green" style="text-transform: uppercase" data-ng-click="submitRole()"> save</button>
        </div>

    </div>

</script>
<script type="text/ng-template" id="newGrp.html" >

    <div class="modal-module-editing" style="top: 200px !important; ">

        <div class="modal-header">
            <h5 class="modal-title" id="modal-title">
                <i class="fa fa-groups"></i>
                New user group <span data-ng-click="cancel()" style="float: right" class="glyphicon glyphicon-remove"> </span>
            </h5>
        </div>
        <div class="modal-body" id="modal-body" style=" max-height:450px;overflow-y:scroll ">
            <div id="grp_def_content"  style="padding: 15px 15px"  class=""> <!-- grp_def_content begins-->
                <div  class="form-group">
                    <label for="select155">Group name</label>
                    <input name="select155" id="select155" ng-model="currentGroup.name" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="input156">Group description</label>
                    <textarea class=" form-control"  placeholder="group description" name="input156" id="input156" ng-model="currentGroup.desc"></textarea>
                </div> <!-- div id:input156 -->
            </div> <!-- grp_def_content ends-->

        </div>

    </div>

</script>







