<!-- Generated html file -->
<div id="group22"  class=""> <!-- group22 begins-->
    <div class="modal-header">
        <h5 class="modal-title" id="modal-title">
            <i class="glyphicon glyphicon-user"></i>
            New user <span style="float: right;">{{step}}/3</span>
        </h5>
    </div>
    <div class="modal-body" id="modal-body">
        <form>
            <div ng-show="step==0">
                <div class=" row">
                    <div class="form-group col-md-9">
                        <label for="name">Name</label>
                        <input class=" form-control"  placeholder="Title" name="input_title" id="name" type="text" ng-model="user.name"/>
                    </div> <!-- div id:input_title -->
                    <button data-ng-click="createUser()" style="margin-top: 15px;margin-left: 15px;" class="floatingPanel btn-primary col-md-2"> Create</button>
                </div>

            </div>
            <div class="" ng-show="step==1">
                <div class="form-group">
                    <label class="control-label" for="radio6">Type</label>
                    <div class="">
                        <label class=" radio-inline">
                            <input id="radio6" type="radio" value="enterprise" ng-model="type"/> Enterprise
                        </label>
                        <label class=" radio-inline">
                            <input id="radio7" type="radio" checked="checked" value="person" ng-model="type"/> person
                        </label>
                    </div>
                </div> <!-- div id:radio6 -->
                <div class="form-group">
                    <label for="input_name">name</label>
                    <input class=" form-control"  placeholder="name" name="input_name" id="input_name" type="text" ng-model="user.name"/>
                </div> <!-- div id:input_nom -->
                <div class="form-group">
                    <label for="input_title">Title</label>
                    <input class=" form-control"  placeholder="Title" name="input_title" id="input_title" type="text" ng-model="user.title"/>
                </div> <!-- div id:input_title -->
                <div ng-show="type=='person'" id="person"  class=""> <!-- person begins-->
                    <div class="form-group" >
                        <label for="sex">sex</label>
                        <div >
                            <label class=" radio-inline">
                                <input id="sex" type="radio" value="F" ng-model="user.sex"> F
                            </label>
                            <label class=" radio-inline">
                                <input id="sex1" type="radio" value="M" checked ng-model="user.sex"> M
                            </label>
                        </div>
                    </div> <!-- div id:sexe -->
                    <div class="form-group">
                        <label for="input_date">Date of birth</label>
                        <input class=" form-control"  placeholder="Date of birth" name="input_date" id="input_date" type="text" ng-model="birthday"/>
                    </div> <!-- div id:input_date -->
                    <div class="form-group">
                        <label for="input_bp">Place of birth</label>
                        <input class=" form-control"  placeholder="Place of birth" name="input_bp" id="input_pb" type="text" ng-model="birthplace"/>
                    </div> <!-- div id:input_bp -->
                </div> <!-- person ends-->
                <div ng-show="type=='enterprise'" id="enterprise"  class=""> <!-- enterprise begins-->
                </div> <!-- enterprise ends-->
            </div>
            <div class="" ng-show="step==2">
                <div id="group_contact"  class=""> <!-- group_contact begins-->
                    <div class="form-group">
                        <label for="input_tel">Telephone</label>
                        <input class=" form-control"  placeholder="tel" name="input_tel" id="input_tel" type="text" ng-model="user.contact.telephone"/>
                    </div> <!-- div id:input_tel -->
                    <div class="form-group">
                        <label for="input_mail">Email</label>
                        <input class=" form-control"  placeholder="email" name="input_mail" id="input_mail" type="email" ng-model="user.contact.email"/>
                    </div> <!-- div id:input_mail -->
                    <div class="form-group">
                        <label for="input_bp">Boîte postal</label>
                        <input class=" form-control"  placeholder="bp" name="input_bp" id="input_bp" type="text" ng-model="user.contact.bp"/>
                    </div> <!-- div id:input_bp -->
                    <div class="form-group">
                        <label for="input_city">city</label>
                        <input class=" form-control"  placeholder="city" name="input_city" id="input_city" type="text" ng-model="user.contact.city"/>
                    </div> <!-- div id:input_city -->
                    <div class="form-group">
                        <label for="input_country">Country</label>
                        <input class=" form-control"  placeholder="ctry" name="input_country" id="input_country" type="text" ng-model="user.contact.ctry"/>
                    </div> <!-- div id:input_country -->
                </div> <!-- group_contact ends-->
            </div>  <!--</div>-->
        </form>
    </div>
    <div class="modal-footer">
        <button ng-show="step > 1" type="button" class="btn btn-default" data-ng-click="previous()">Previous</button>
        <button ng-show="step > 0" type="button" class="btn btn-default" data-ng-click="next()">Next</button>
        <button ng-show="step==2" type="button" class="btn btn-default" data-ng-click="addUser()">Submit</button>
    </div>
</div> <!-- group22 ends-->
