<!-- Generated html file -->
<script type="text/ng-template" id="passwordExpired.html">
    <div >
        <div class="modal-header">
            <h5 class="modal-title" id="modal-title1">
                <i class="fa fa-user"></i>
                Password expired
            </h5>
        </div>
        <div class="modal-body" id="modal-body1">
            <div class="form-group">
                <label for="input2">password</label>
                <input class=" form-control"  placeholder="password" name="input2" id="input2" type="password" ng-model="password"/>
            </div> <!-- div id:input2 -->
            <div class="form-group">
                <label for="input3">confirm password</label>
                <input class=" form-control"  placeholder="password" name="input3" id="input3" type="null" ng-model="confirmpassword"/>
            </div> <!-- div id:input3 -->
        </div>
    </div>
</script>
<script type="text/ng-template" id="SessionExpired.html">
    <div >
        <div class="modal-header">
            <h5 class="modal-title" id="modal-title1">
                <i class="null"></i>
                Session expired
            </h5>
        </div>
        <div class="modal-body" id="modal-body1">
            <div class="form-group">
                <label for="username">User name</label>
                <p>{{username}}</p>
            </div> <!-- div id:username -->
            <div class="form-group">
                <label for="password">Password</label>
                <input class=" form-control"  placeholder="password" name="password" id="password" type="null" ng-model="password"/>
            </div> <!-- div id:password -->
        </div>
    </div>
</script>
