<!-- Generated html file -->

<div id="content"  style="padding: 0; "  class="content-inner col-md-10 col-md-offset-1 "> <!-- content begins-->
    <div id=""  style="padding:0; margin-bottom: 150px"  class=" col-md-10 "> <!-- path begins-->
        <div class="floatingPanel col-md-12 " style="position:relative;margin-bottom: 15px; padding:0">
            <div class="userheader" ng-class="inputSearchedit" style="padding: 10px 10px" >
                <div class="row">
                    <div class="col-md-1">
                        <span   class=" icon glyphicon glyphicon-search"></span>
                    </div>
                    <div class="search col-md-4">
                        <input ng-blur="searchLostFocus()" ng-focus="searchGainFocus()" type="text" placeholder="Search "/>
                    </div>
                    
                </div>
            </div>
           <div >
               <table class="col-md-10 table">
                   <thead>
                   <tr>
                       <th>User Name</th>
                       <th>Last connexion</th>
                       <th>exipry date</th>
                       <th>User Id</th>
                   </tr>
                   </thead>
                   <tbody>
                   <tr ng-repeat="user in items" data-ng-click="setSelectedUser(user)">
                       <td>{{user.name}}</td>
                       <td>{{user.user.last_connexion}}</td>
                       <td>{{user.user.accountExp}}</td>
                       <td>{{user._id}}</td>
                   </tr>
                   </tbody>
               </table>
           </div>
            <div style="; bottom: 0" class=" col-md-12 footer" >
            <!--Pager-->
            <div class="col-md-10" >
                <div style="float: right; height: 100%; padding: 20px;">
                    {{pager.currentPage}} of {{pager.pages.length}}
                </div>
            </div>
                <div class="">
                    <ul style="float: right" ng-if="pager.pages.length" class=" pager">
                        <li ng-class="{disabled:pager.currentPage === 1}">
                            <span ng-click="setPage(pager.currentPage - 1)" class="glyphicon glyphicon-chevron-left"></span>
                        </li>
                        <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                            <a ng-click="setPage(pager.currentPage + 1)" class="glyphicon glyphicon-chevron-right"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div> <!-- group27 ends-->
