
<!-- Generated html file -->
<div id="content"  style="padding: 0; width: 80%"  class="content-inner col-md-10 col-md-offset-1 row"> <!-- content begins-->
    <div class="col-md-1 " style=" height: 100%; margin-top: 21px;padding: 0 ">
        <div style=" height: 100px; ">
            <span ng-hide="userPosition == 0" data-ng-click="previous()" class="glyphicon glyphicon-chevron-left" style="font-size: 70px; color: #D3D3D3;"></span>
        </div>
    </div>
    <div id=""  style="padding:0; margin-bottom: 50px"  class=" col-md-10 "> <!-- path begins-->
       <div ng-controller="partnerdetails" ng-include="'app/modules/admin/views/partner.html'"></div>
       <div ng-controller="userinfo" ng-include="'app/modules/admin/views/user.html'"></div>
    </div>
    <div class="col-md-1" style=" height: 100%; margin-top: 21px; padding: 0">
        <div style=" height: 100px">
            <span ng-hide="userPosition == users.length -1" data-ng-click="next()" class="glyphicon glyphicon-chevron-right" style="font-size: 70px; color: #D3D3D3;"></span>
        </div>
    </div>
</div> <!-- group27 ends-->

<script type="text/ng-template" id="dropdown.html">
    <div class="dropdown-menu floatingPanel" style="color: cornflowerblue; padding: 15px" uib-dropdown-menu role="menu" aria-labelledby="button-template-url">
     <ul ng-switch="attr" style="list-style-type: none; padding: 0">
         <li ng-switch-when="emails" ng-repeat="item in otherEmails">{{item.email}}</li>
         <li ng-switch-when="phones" ng-repeat="item in otherPhones">{{item.number}}</li>
         <li ng-switch-when="countries" ng-repeat="item in otherCountries">{{item.country}}</li>
         <li ng-switch-when="cities" ng-repeat="item in otherCities">{{item.city}}</li>
         <li ng-switch-when="pobox" ng-repeat="item in otherPobox">{{item.number}}</li>
     </ul>

    </div>
</script>