
<!-- Generated html file -->
<div id="content"  style="padding: 0; "  class="content-inner col-md-10 col-md-offset-1 "> <!-- content begins-->
    <div id=""  style="padding:0; margin-bottom: 50px"  class=" col-md-10 "> <!-- path begins-->
        <ul class="timeline">
            <li>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <div class="col-md-12" style="padding: 0">
                            <div class="col-md-8" style="padding: 0">
                                <h1 class="timeline-title">{{user.name}}</h1>
                                <h4>{{user.title}}</h4>
                            </div>
                            <div class="col-md-4" style="padding: 0">
                                <div class="user" style="float:right" >
                                    <div class="text-center">
                                        <img style="width: 50px;height: 50px;" src="app/assets/images/avatar_2x.png" class="img-circle">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Created at {{ user.registered}}</small></p>
                    </div>
                    <div class="hr-left"></div>
                    <div class="timeline-body">
                        <form class="form-horizontal">
                            <div class="col md 12 row" >
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-sm-2" for="gender">Gender:</label>
                                        <div class="col-sm-10">
                                            <p id="gender" class="form-control-static">
                                                {{user.gender}}
                                                <span class="glyphicon glyphicon-pencil user-edit" data-ng-click="editUser('Gender', 'gender')"></span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2" for="birthday">Birthday:</label>
                                        <div class="col-sm-10">
                                            <p id="birthday" class="form-control-static">
                                                {{user.birthday}}
                                                <span class="glyphicon glyphicon-pencil user-edit" data-ng-click="editUser('Birthday', 'birthday')"></span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2" for="birthp">Place:</label>
                                        <div class="col-sm-10">
                                            <p id="birthp" class="form-control-static" >
                                                {{user.birthp}}
                                                <span class="glyphicon glyphicon-pencil user-edit" data-ng-click="editUser('Place of Birth', 'birthp')()"></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-sm-2" for="userType">Type:</label>
                                        <div class="col-sm-10">
                                            <p id="userType" class="form-control-static">
                                                {{user.type}}
                                                <span class="glyphicon glyphicon-pencil user-edit" data-ng-click="editUser('Type', 'type')"></span>
                                            </p>
                                        </div>
                                    </div>                                      
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </li>
            <li class="timeline-panel">
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">User configurations</h4>
                    </div>
                    <div class="timeline-body">
                        <form class="form-horizontal">
                            <div class="col md 12 row" >
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-sm-2" for="gender">Login:</label>
                                        <div class="col-sm-10">
                                            <p id="login" class="form-control-static">
                                                {{user.login}}
                                                <span class="glyphicon glyphicon-pencil user-edit" data-ng-click="editUser('Login', 'login')"></span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3" for="expiration">Expire on:</label>
                                        <div class="col-sm-9">
                                            <p id="expiration" class="form-control-static">
                                                {{user.accountExp}}
                                                <span class="glyphicon glyphicon-pencil user-edit" data-ng-click="editUser('Account expiriration', 'accountExp')"></span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3" for="passExpire">Password expires on</label>
                                        <div class="col-sm-9">
                                            <p id="passExpire" class="form-control-static">
                                                {{user.passExp}}
                                                <span class="glyphicon glyphicon-pencil user-edit" data-ng-click="editUser('password expiriration', 'passExp')"></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                <div class="form-group">
                                        <label class="control-label col-sm-2" for="accountstate">State:</label>
                                        <div class="col-sm-10">
                                            <p id="accountstate" class="form-control-static">
                                            <h2>{{user.status}}</h2>
                                            <span class="glyphicon glyphicon-pencil user-edit" data-ng-click="editUser('Status', 'status')"></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </li>
            <li class="timeline-panel">
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Contact</h4>
                    </div>
                    <div class="timeline-body">
                        <form class="form-horizontal">
                            <div class="col md 12 row" >
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-sm-2" for="telephone">Phone:</label>
                                        <div class="col-sm-10" style="display: inline-flex">
                                            <p id="telephone" class="form-control-static " >
                                                {{user.phone}}
                                                <span class="glyphicon glyphicon-pencil user-edit" data-ng-click="editUser('Phone', 'phone')"></span>
                                                <div class="dropdown" uib-dropdown auto-close="disabled" on-toggle="toggled(open) ">
                                                    <span style="margin-top: 8px" class="glyphicon glyphicon-chevron-down user-edit" data-ng-click="setStatus()" uib-dropdown-toggle id="simple-dropdownr"></span>
                                                    <ul class="dropdown-menu" template-url="dropdown.html" uib-dropdown-menu aria-labelledby="dropdownMenu3" > </ul>
                                                </div>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2" for="email">Email:</label>
                                        <div class="col-sm-10">
                                            <p id="email" class="form-control-static">
                                                {{user.email}}
                                                <span class="glyphicon glyphicon-pencil user-edit" data-ng-click="editUser('Email', 'email')"></span>
                                                <div class="dropdown" uib-dropdown auto-close="disabled" on-toggle="toggled(open) ">
                                                    <span style="margin-top: 8px" class="glyphicon glyphicon-chevron-down user-edit" data-ng-click="setStatus()" uib-dropdown-toggle id="simple-dropdownr"></span>
                                                     <ul class="dropdown-menu" template-url="dropdown.html" uib-dropdown-menu aria-labelledby="dropdownMenu3" > </ul>
                                                </div>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2" for="poBox">Po Box:</label>
                                        <div class="col-sm-10" >
                                            <p id="poBox" class="form-control-static">
                                                {{user.pbox}}
                                                <span class="glyphicon glyphicon-pencil user-edit" data-ng-click="editUser('Po Box', 'pbox')"></span>
                                                <div class="dropdown" uib-dropdown auto-close="disabled" on-toggle="toggled(open) ">
                                                    <span style="margin-top: 8px" class="glyphicon glyphicon-chevron-down user-edit" data-ng-click="setStatus()" uib-dropdown-toggle id="simple-dropdownr"></span>
                                                    <ul class="dropdown-menu" template-url="dropdown.html" uib-dropdown-menu aria-labelledby="dropdownMenu3" > </ul>
                                                </div>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-sm-2" for="country">Country:</label>
                                        <div class="col-sm-10">
                                            <p id="country" class="form-control-static">
                                                {{user.country}}
                                                <span class="glyphicon glyphicon-pencil user-edit" data-ng-click="editUser('Country', 'country')"></span>
                                                <div class="dropdown" uib-dropdown auto-close="disabled" on-toggle="toggled(open) ">
                                                    <span style="margin-top: 8px" class="glyphicon glyphicon-chevron-down user-edit" data-ng-click="setStatus()" uib-dropdown-toggle id="simple-dropdownr"></span>
                                                    <ul class="dropdown-menu" template-url="dropdown.html" uib-dropdown-menu aria-labelledby="dropdownMenu3" > </ul>
                                                </div>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2" for="city">City:</label>
                                        <div class="col-sm-10">
                                            <p id="city" class="form-control-static">
                                                {{user.city}}
                                                <span class="glyphicon glyphicon-pencil user-edit" data-ng-click="editUser('City', 'city')"></span>
                                                <div class="dropdown" uib-dropdown auto-close="disabled" on-toggle="toggled(open) ">
                                                    <span style="margin-top: 8px" class="glyphicon glyphicon-chevron-down user-edit" data-ng-click="setStatus()" uib-dropdown-toggle id="simple-dropdownr"></span>
                                                    <ul class="dropdown-menu" template-url="dropdown.html" uib-dropdown-menu aria-labelledby="dropdownMenu3" > </ul>
                                                </div>
                                            </p>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-sm-1" for="other">Others:</label>
                                        <div class="col-sm-11">
                                            <p id="other" class="form-control-static">
                                                {{user.others}}
                                                <span class="glyphicon glyphicon-pencil user-edit" data-ng-click="editUser('Other informations', 'others')"></span>
                                                <span class="glyphicon glyphicon-chevron-down user-edit" data-ng-click="setStatus()"></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Groups setting</h4>
                    </div>
                    <div class="timeline-body">
                        <div class="col-md-6">
                            <h5> group</h5>
                            <ul ng-init="user.groups=['toto','tata','lorem']">
                            <li ng-repeat="grp in user.groups">
                                <div  class="badge" style="border-radius:2px">
                                    {{grp}}
                                    <span style="font-size: xx-small" class="glyphicon glyphicon-remove"></span>
                                </div>
                            </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h5>User groups</h5>
                            <ul ng-init="user.groups=['toto','tata','lorem']">
                                <li ng-repeat="grp in user.groups">
                                    <div  class="badge" style="border-radius:2px">
                                        {{grp}}
                                        <span style="font-size: xx-small" class="glyphicon glyphicon-remove"></span>
                                    </div>
                                </li>
                            </ul>
                        </div>


                    </div>
                </div>
            </li>
        </ul>
    </div>
</div> <!-- group27 ends-->

<script type="text/ng-template" id="updateUser.html" >
    <div class="modal-module-editing" style="top: 200px !important; ">
        <div class="modal-header">
            <h5 class="modal-title" id="modal-title1">
                <i class="glyphicon glyphicon-user"></i>
                User : {{title}}
            </h5>
        </div>
        <div class="modal-body" id="modal-body1">
            <input type="text" class="form-control" ng-model="updatedValue" focus-me="true">
        </div>
        <div class="modal-footer">
            <button class="floatingPanel" type="button" ng-click="setUserAttr(attr)">Update</button>
        </div>
    </div>

</script>
<script type="text/ng-template" id="dropdown.html">
    <div class="dropdown-menu floatingPanel"  uib-dropdown-menu role="menu" aria-labelledby="button-template-url">
     <ul>
         <li ng-repeat="item in multiple">{{item}}</li>
     </ul>

    </div>
</script>