<!-- Generated html file -->

<div id="content"  style="padding: 0; "  class="content-inner col-md-10 col-md-offset-1 "> <!-- content begins-->
    <div id=""  style="padding:0; margin-bottom: 150px"  class=" col-md-10 "> <!-- path begins-->
        <div class="floatingPanel col-md-12 " style="position:relative;margin-bottom: 15px; padding:0">
            <div class="userheader" ng-class="inputSearchedit" style="padding: 10px 10px" >
                <div class="row">
                    <div class="col-md-1">
                        <span   class=" icon glyphicon glyphicon-search"></span>
                    </div>
                    <div class="search col-md-4">
                        <input ng-blur="searchLostFocus()" ng-focus="searchGainFocus()" type="text" placeholder="Search "/>
                    </div>
                    
                </div>
            </div>
           <div >
               <table class="col-md-10 table">
                   <thead>
                   <tr>
                       <th>User Id</th>
                       <th>User login</th>
                       <th>Last connexion</th>
                       <th>Expires</th>
                   </tr>
                   </thead>
                   <tbody>
                   <tr ng-repeat="user in items" data-ng-click="setSelectedUser(user)">
                       <td>{{user._id}}</td>
                       <td>{{user.login}}</td>
                       <td>{{user.user.last_connexion}}</td>
                       <td>{{user.user.accountExp}}</td>
                   </tr>
                   </tbody>
               </table>
           </div>
            <div style="bottom: 0; padding: 10px" class=" col-md-12 footer" >
            <!--Pager-->
                <div class="">
                    <!--<span ng-click="setPage(pager.currentPage - 1)" class="glyphicon glyphicon-chevron-left"></span>-->
                        <div style="float: right" class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn btn-default">AA-AC</button>
                            <button type="button" class="btn btn-default">AC-BD</button>
                            <button type="button" class="btn btn-default">BD-CZ</button>
                        </div>
                    <!--<span ng-click="setPage(pager.currentPage + 1)" class="glyphicon glyphicon-chevron-right"></span>-->
                </div>
            </div>
        </div>

    </div>
</div> <!-- group27 ends-->
