<!-- Generated html file -->
<div id="content"  class=" col-md-10 col-md-offset-1 "> <!-- content begins-->
    <div id="content-inner"  style="max-width:350px; padding:40px 40px;"  class="floatingPanel login login-c"> <!-- content-inner begins-->
        <div id="group3"  style="margin:20px; width:100px; height:100px; border-radius:50px; margin: 0 auto 10px; display: block;"  class=""> <!-- group3 begins-->
            <img  class="userpic" src="app/assets/images/avatar_2x.png" alt="user pic"/>
        </div> <!-- group3 ends-->
        <div class="form-group">
            <input class=" form-control"  placeholder="indentifiant" name="input4" id="input4" type="text" ng-model="identifiant"/>
        </div> <!-- div id:input4 -->
        <div class="form-group">
            <input class=" form-control"  placeholder="motdepasse" name="input5" id="input5" type="password" ng-model="password"/>
        </div> <!-- div id:input5 -->
        <button  style="width:100%"  class="floatingPanel button custom" ng-click="go()">Sign in</button>
        <a >
            Forgot your password ?
        </a>
    </div> <!-- content-inner ends-->
</div> <!-- content ends-->
