
<div  id="content" class="col-md-10 col-md-offset-1" style="padding-left:0px">  <!--content-->
    <div id="moduleBloc" class="col-md-8 " style="padding-left:0px; margin-bottom: 100px;">
        <ul class="block">
            <li>
                <div style="margin-top: 0px;" class="floatingPanel block-body" >
                    <div class="block-title g_header">
                        <span style="padding: 3px 10px; margin: 0" class="fa fa-database"></span>
                        <span style="font-size: small; color: #0084bf;">Database</span>
                        <ul>
                            <li>
                                <span class="glyphicon glyphicon-upload" ></span>
                            </li>
                        </ul>
                    </div>

                    <div    class=" data-content ">
                        <span>database_file.sql</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="floatingPanel block-body" >
                    <div class="block-title g_header">
                        <span style="padding: 3px 10px; margin: 0" class="glyphicon glyphicon-retweet"></span>
                        <span style="font-size: small; color: #0084bf;">Workflow</span>
                        <ul>

                            <li>
                                <span class="glyphicon glyphicon-upload" ></span>
                            </li>
                        </ul>
                    </div>
                    <div    class="data-content">
                        <span>workflow_file.xpdl</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="  floatingPanel block-body" style="/* background-color: #fff; padding: 10px; margin: 15px 0px 15px 0px;*/">
                    <div class="block-title g_header">
                        <span style="padding: 3px 10px; margin: 0" class="glyphicon glyphicon-modal-window"></span>
                        <span style="font-size: small; color: #0084bf;">Views</span>
                        <ul  >
                            <li>
                                <span  class="glyphicon glyphicon-check"></span>
                            </li>
                            <li>
                                <span  class="glyphicon glyphicon-cog"></span>
                            </li>
                            <li>
                                <div  class="" uib-dropdown dropdown-append-to-body>
                                    <span style="float: inherit;     padding-top: 2px;" class="glyphicon glyphicon-option-vertical" uib-dropdown-toggle></span>
                                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                                        <li role="menuitem"><a href="#">Action</a></li>
                                        <li role="menuitem"><a href="#">Another action</a></li>
                                        <li role="menuitem"><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li role="menuitem"><a href="#">Separated link</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div
                            data-angular-treeview="true"
                            data-tree-id="m"
                            data-tree-model="modulefiles"
                            data-node-id="name"
                            data-node-click="cclick"
                            data-node-children="children"
                            data-tree-actions="treeActions">

                    </div>
                </div>
            </li>
            <li>
                <div class="floatingPanel block-body" style=" /*background-color: #fff; padding: 10px; margin: 15px 0px 15px 0px;*/">
                    <div class="block-title g_header">
                        <span style="padding: 3px 10px; margin: 0" class="glyphicon glyphicon-cog"></span>
                        <span style="font-size: small; color: #0084bf;">operations</span>
                        <ul  >
                            <li>
                                <span  class="glyphicon glyphicon-check"></span>
                            </li>
                            <li>
                                <span  class="glyphicon glyphicon-cog"></span>
                            </li>
                            <li>
                                <div  class="" uib-dropdown dropdown-append-to-body>
                                    <span style="float: inherit;" class="glyphicon glyphicon-option-vertical" uib-dropdown-toggle></span>
                                    </span>
                                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                                        <li role="menuitem"><a href="#">Action</a></li>
                                        <li role="menuitem"><a href="#">Another action</a></li>
                                        <li role="menuitem"><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li role="menuitem"><a href="#">Separated link</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <hr >
                    <div
                            data-angular-treeview="true"
                            data-tree-id="m"
                            data-tree-model="modulefiles"
                            data-node-id="name"
                            data-node-click="cclick"
                            data-node-children="children"
                            data-tree-actions="treeActions">

                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-4 floatingPanel md" style=" margin-bottom: 30px; ">
        <ul id="ul" >
            <li class="li-b">
                <div class="b-t"><span >Information</span></div>
                <div class="moduleInfo">
                    <div class="row">
                        <div class="col-md-4" >
                            <span class="m-d">Module</span>
                        </div>
                        <div class="col-md-8 mdd" >
                            <span style="text-transform: uppercase">Crowfunding</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 " >
                            <span class="m-d">Author</span>
                        </div>
                        <div class="col-md-8 mdd" >
                            <span > Kefil</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4" >
                            <span class="m-d">Date</span>
                        </div>
                        <div class="col-md-8 mdd" >
                            <span > 20/01/2017</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4" >
                            <span class="m-d">Branch </span>
                        </div>
                        <div class="col-md-8 " >
                            <span class="badge">Default</span>
                            <div style="width: 30px; display: initial;float: right;" class="" uib-dropdown dropdown-append-to-body>
                                <span style="float: inherit;" class="glyphicon glyphicon-option-vertical" uib-dropdown-toggle></span>
                                </span>
                                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                                    <li role="menuitem"><a href="#">Action</a></li>
                                    <li role="menuitem"><a href="#">Another action</a></li>
                                    <li role="menuitem"><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li role="menuitem"><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    Description
                    <p style="text-align: justify;color: #4F6878!important; text-overflow: ellipsis; overflow: hidden; white-space: nowrap ">
                        <small>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias aspernatur, aut culpa fuga fugit harum id iste necessitatibus non odio pariatur qui rem sapiente temporibus unde vel voluptate voluptates?
                        </small>
                    </p>
                </div>
            </li>
            <li class="li-b">
                <div class="b-t">  <span >Linked Modules</span></div>
                <ul style="list-style: none; padding: 0px">
                    <li>
                        <div class="row">
                            <div class="col-md-4">
                                <a href="">spaceVim</a>
                            </div>
                            <div class="col-md-8">
                                <span class="glyphicon glyphicon-trash l-m"></span></div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-4">
                                <a href="">spaceVim</a>
                            </div>
                            <div class="col-md-8">
                                <span class="glyphicon glyphicon-trash l-m"></span></div>
                        </div>

                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-4">
                                <a href="">spaceVim</a>
                            </div>
                            <div class="col-md-8">
                                <span class="glyphicon glyphicon-trash l-m"></span></div>
                        </div>

                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-4">
                                <a href="">spaceVim</a>
                            </div>
                            <div class="col-md-8">
                                <span class="glyphicon glyphicon-trash l-m"></span></div>
                        </div>

                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-4">
                                <a href="">spaceVim</a>
                            </div>
                            <div class="col-md-8">
                                <span class="glyphicon glyphicon-trash l-m"></span></div>
                        </div>

                    </li>
                </ul>
            </li>
            <li class="li-b" style="border-bottom: none !important;" >
                <div class="b-t">  <span >Versioning</span></div>
                <div class="row" >
                    <div class="col-md-5">
                        <span>Pull requests</span>
                    </div>
                    <div class="col-md-7">
                        <span style="float: right" class="badge">138</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <span>Issues</span>
                    </div>
                    <div class="col-md-8">
                        <span style="float: right" class="badge">13</span>
                    </div>
                </div>
            </li>
        </ul>


    </div>
</div>
