<!--new module popup-->
<script type="text/ng-template" id="new.html" >
    <div class="modal-module-editing" style="top: 200px !important; ">
        <div class="modal-header">
            <h5 class="modal-title" id="modal-title">
                <i class="glyphicon glyphicon-th"></i>
                new module
            </h5>
        </div>
        <div class="modal-body" id="modal-body">
            <input type="text" class="form-control" placeholder="Type a module name" ng-model="moduleName">
        </div>
        <div class="modal-footer">
            <button class="floatingPanel" type="button" ng-click="editModule('create')">Create</button>
        </div>
    </div>

</script>
<!--upload modal-->
<script type="text/ng-template" id="upload.html" >
    <div class="modal-module-editing" style="top: 200px !important; ">
        <div class="modal-header">
            <h5 class="modal-title" id="modal-title1">
                <i class="glyphicon glyphicon-th"></i>
                new module
            </h5>
        </div>
        <div class="modal-body" id="modal-body1">
            <input type="file" class="form-control" value="Browse"  file-model="fileModel">
        </div>
        <div class="modal-footer">
            <button class="floatingPanel" type="button" ng-click="editModule('upload')">Create</button>
        </div>
    </div>

</script>

<div class="row" style=" z-index: 0 !important;">
    <div  class="col-md-8 col-md-offset-2">
        <div id="header" style=" display: block; margin: 15px 15px 7px 15px">
            <span>Modules</span>
        </div>
        <div ng-repeat="item in usermodules" class="floatingPanel modules" >
            <a ui-sref="root.generator.dashboard({name:item.name})" style="text-decoration: none; color: #808080 !important;">
                <div class="moduleInfo" style="padding: 15px 15px 7px 15px;  ">
                    <img src="app/assets/images/m.jpg" alt="">
                    <span><b>{{item.name}}</b> <small>{{item.date}}</small></span>
                </div>
                <div class="moduledesc" style="padding: 0px 15px 7px 50px">
                    <p style="text-align: justify; ">
                        <small>Description: </small>
                        {{item.desc}}
                    </p>
                </div>
            </a>

        </div>

    </div>


</div>