<!-- Generated html file -->
<div id="group1"  class=""> 
<div id="group1-body" class="group1-body "> 
<div id="group9"  class=""> 
<div id="group9-body" class="group9-body "> 
<div id="content"  style="height: 60%"  class="statecontent floatingPanel col-md-8 col-md-offset-2 "> 
<div id="content-body" class="content-body "> 
<div id="group131"  style="border-right: 1px solid #aaa;height:90%;overflow-y: scroll; margin-top: 15px;"  class=" col-md-5 "> 
<div id="group131-body" class="group131-body "> 
<div class="form-group"><label for="input4"></label>
<input class=" form-control"  placeholder="parent" name="input4" id="input4" type="text" ng-model="currentMns.parent"/>
</div> <!-- div id:input4 -->
<div class="form-group"><label for="input5"></label>
<input class=" form-control"  placeholder="itemName" name="input5" id="input5" type="text" ng-model="currentMns.name"/>
</div> <!-- div id:input5 -->
<div  >
<div >
<label class=" radio-inline">
<input type="radio" value="principal" ng-model="currentMns.type"> principal
</label>
<label class=" radio-inline">
<input type="radio" value="simple" ng-model="currentMns.type"> simple
</label>
</div>
</div> <!-- div id:"group131" -->
<div class="form-group"><label for="input7"></label>
<input class=" form-control"  placeholder="userRole" name="input7" id="input7" type="text" ng-model="currentMns.userRole"/>
</div> <!-- div id:input7 -->
<div  class="form-group">
<label for="select8">permission</label>
<select name="select8" id="select8" ng-model="currentMns.permission" class="form-control" ><option ng-repeat='item in resourceMethod' value="{{item.rvalue}}"> {{item.dvalue}} 
 </option>
 </select>
</div>
</div> 
</div>
</div> 
</div>
<div id="group3"  class=" col-md-5 "> 
<div id="group3-body" class="group3-body "> 
</div> 
</div>
</div> 
</div>
</div> 
</div>
