<div class="title">Modules</div>
<div class="section" >
    <div class="modulefolder group floatingPanel" >
        <div class="folder"><i class="fa fa-folder"></i></div>
        <div class="modulename" style="display: inline-block"><span>Module</span></div>
    </div>
    <div class="modulefolder group floatingPanel" >
        <div class="folder"><i class="fa fa-folder"></i></div>
        <div class="modulename" style="display: inline-block"><span>Module</span></div>
    </div>
    <div class="modulefolder group floatingPanel" >
        <div class="folder"><i class="fa fa-folder"></i></div>
        <div class="modulename" style="display: inline-block"><span>Module</span></div>
    </div>
    <div class="modulefolder group floatingPanel" >
        <div class="folder"><i class="fa fa-folder"></i></div>
        <div class="modulename" style="display: inline-block"><span>Module</span></div>
    </div>
    <div class="modulefolder group floatingPanel" >
        <div class="folder"><i class="fa fa-folder"></i></div>
        <div class="modulename" style="display: inline-block"><span>Module</span></div>
    </div>
    <div class="modulefolder group floatingPanel" >
        <div class="folder"><i class="fa fa-folder"></i></div>
        <div class="modulename" style="display: inline-block"><span>Module</span></div>
    </div>
    <div class="modulefolder group floatingPanel" >
        <div class="folder"><i class="fa fa-folder"></i></div>
        <div class="modulename" style="display: inline-block"><span>Module</span></div>
    </div>
    <div class="modulefolder group floatingPanel" >
        <div class="folder"><i class="fa fa-folder"></i></div>
        <div class="modulename" style="display: inline-block"><span>Module</span></div>
    </div>
    <div class="modulefolder group floatingPanel" >
        <div class="folder"><i class="fa fa-folder"></i></div>
        <div class="modulename" style="display: inline-block"><span>Module</span></div>
    </div>
    <div class="modulefolder group floatingPanel" >
        <div class="folder"><i class="fa fa-folder"></i></div>
        <div class="modulename" style="display: inline-block"><span>Module</span></div>
    </div>
    <div class="modulefolder group floatingPanel" >
        <div class="folder"><i class="fa fa-folder"></i></div>
        <div class="modulename" style="display: inline-block"><span>Module</span></div>
    </div>
    <div class="modulefolder group floatingPanel" >
        <div class="folder"><i class="fa fa-folder"></i></div>
        <div class="modulename" style="display: inline-block"><span>Module</span></div>
    </div>
    <div class="modulefolder group floatingPanel" >
        <div class="folder"><i class="fa fa-folder"></i></div>
        <div class="modulename" style="display: inline-block"><span>Module</span></div>
    </div>
    <div class="modulefolder group floatingPanel" >
        <div class="folder"><i class="fa fa-folder"></i></div>
        <div class="modulename" style="display: inline-block"><span>Module</span></div>
    </div>
    <div class="modulefolder group floatingPanel" >
        <div class="folder"><i class="fa fa-folder"></i></div>
        <div class="modulename" style="display: inline-block"><span>Module</span></div>
    </div>
</div>

