<!-- Generated html file -->
<div id="content"  style="padding: 0;"  class=" row content-inner col-md-10 col-md-offset-1 "> <!-- content begins-->
    <div id="group166"  style="padding:0; margin-bottom: 150px"  class=" col-md-7 "> <!-- group166 begins-->
        <div id="operation-editing"  style="margin-bottom: 15px; padding:0"  class="floatingPanel col-md-12 "> <!-- operation-editing begins-->
            <div id="group185_copy1"  style="height: 35px; border-bottom: 1px solid lightgray; margin-bottom: 5px"  class=""> <!-- group185_copy1 begins-->
                <div id="header_copy1"  style="padding: 10px 15px; margin: 0"  class="g_header"> <!-- header_copy1 begins-->
                    <span  class="glyphicon-cog" id="span188_copy1" ></span>
                    <span  id="span189_copy1" >Edit</span>
                </div> <!-- header_copy1 ends-->
            </div> <!-- group185_copy1 ends-->
            <div id="group180"  style="padding: 15px 15px"  class=""> <!-- group180 begins-->
                <div class="form-group">
                    <label for="input181">name</label>
                    <input class=" form-control"  placeholder="name" name="input181" id="input181" type="text" ng-model="currentOp.name"/>
                </div> <!-- div id:input181 -->
                <div  class="form-group">
                    <label for="select182">type</label>
                    <select name="select182" id="select182" ng-model="currentOp.type" class="form-control" ><option ng-repeat='item in operations_type' value="{{item.rvalue}}"> {{item.dvalue}}
                    </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="input183">reply</label>
                    <input class=" form-control"  placeholder="reply" name="input183" id="input183" type="text" ng-model="currentOp.out"/>
                </div> <!-- div id:input183 -->
                <div  >
                    <label for="radio292">static</label>
                    <div  class="spacer">
                        <label class=" radio-inline">
                            <input id="radio292" type="radio" value="true" ng-model="currentOp.sql.static"> true
                        </label>
                        <label class=" radio-inline">
                            <input id="radio292" type="radio" value="false" ng-model="currentOp.sql.static"> false
                        </label>
                    </div>
                </div> <!-- div id:radio292 -->
                <div class="form-group" >
                    <label for="textarea184">sql</label>
                    <div style="border: 1px solid cadetblue;">
                        <textarea  id="textarea184" class="form-control" name="textarea184" ui-codemirror="sqlmode" ng-model="currentOp.sql.text"></textarea>
                    </div>
                </div>
            </div> <!-- group180 ends-->
        </div> <!-- operation-editing ends-->
        <div id="parameters"  style="padding: 0; min-height:302px"  class="floatingPanel col-md-12 "> <!-- parameters begins-->
            <div id="group185"  style="height: 35px; border-bottom: 1px solid lightgray; margin-bottom: 5px"  class=""> <!-- group185 begins-->
                <div id="header"  style="padding: 10px 15px; margin: 0"  class="g_header"> <!-- header begins-->
                    <span  class="glyphicon glyphicon-log-in" id="span188" ></span>
                    <span  id="span189" >operation params</span>
                </div> <!-- header ends-->
            </div> <!-- group185 ends-->
            <div id="group186"  style=""  class=" row  col-md-12 "> <!-- group186 begins-->
                <div id="op-inputs"  style="padding: 0 8px;"  class=" col-md-5 "> <!-- op-inputs begins-->
                    <ul  class="items">
                        <li  data-ng-click="editInput(item)"ng-repeat=" item in currentOp.in">
                            <div id="group195"  class=" col-md-12 "> <!-- group195 begins-->
                                <div id="group196"  class="item-label-g input-item-label col-md-9 "> <!-- group196 begins-->
                                    <span  class="item-label" id="span197" >{{item.name}}</span>
                                </div> <!-- group196 ends-->
                                <div id="group198"  class=""> <!-- group198 begins-->
                                    <span  class="glyphicon glyphicon-trash action-item action-delete" data-ng-click="delInput(item)" id="span200" ></span>
                                </div> <!-- group198 ends-->
                            </div> <!-- group195 ends-->
                        </li>
                    </ul>
                </div> <!-- op-inputs ends-->
                <div id="group201"  style="padding: 0 0px 6px 15px;border-left: 1px solid lightgray;"  class=" col-md-7 "> <!-- group201 begins-->
                    <div class="form-group">
                        <label for="input202">name</label>
                        <input class=" form-control"  placeholder="name" name="input202" id="input202" type="text" ng-model="in.name"/>
                    </div> <!-- div id:input202 -->
                    <div  class="form-group">
                        <label for="select203">type</label>
                        <select name="select203" id="select203" ng-model="in.type" class="form-control" ><option ng-repeat='item in inputType' value="{{item.rvalue}}"> {{item.dvalue}}
                        </option>
                        </select>
                    </div>
                    <div  class="form-group">
                        <label for="select204">style</label>
                        <select name="select204" id="select204" ng-model="in.style" class="form-control" ><option ng-repeat='item in inputStyle' value="{{item.rvalue}}"> {{item.dvalue}}
                        </option>
                        </select>
                    </div>
                    <div  class="form-group">
                        <label for="select205">default</label>
                        <select name="select205" id="select205" ng-model="in.default" class="form-control" ><option ng-repeat='item in inputLocation' value="{{item.rvalue}}"> {{item.dvalue}}
                        </option>
                        </select>
                    </div>
                    <div >
                        <label for="input206">optional</label>
                        <input class=" "  placeholder="optional" name="input206" id="input206" type="checkbox" ng-model="in.optional"/>
                    </div> <!-- div id:input206 -->
                    <button  class="floatingPanel button blue" ng-click="addInput()">add input</button>
                </div> <!-- group201 ends-->
            </div> <!-- group186 ends-->
        </div> <!-- parameters ends-->
    </div> <!-- group166 ends-->
    <div id="group167"  style="padding:0; min-height:465px;max-height:465px;margin-left:15px"  class="floatingPanel col-md-3 "> <!-- group167 begins-->
        <div id="group209"  style="height: 35px; border-bottom: 1px solid lightgray; margin-bottom: 5px"  class=""> <!-- group209 begins-->
            <div id="group210"  style="padding: 10px 15px; margin: 0"  class="g_header"> <!-- group210 begins-->
                <span  class="fa fa-gears" id="span211" ></span>
                <span  style="font-size: small; color: #0084bf;"  id="span212" >Module Operations</span>
            </div> <!-- group210 ends-->
            <div id="op-content"  style="height:430px; overflow-y:scroll"  class=""> <!-- op-content begins-->
                <ul  class="items">
                    <li  data-ng-click="cclick(item)"ng-repeat=" item in operations">
                        <div id="group215"  class=" col-md-12 " ng-class="{selectedItem:item.name==selected}"> <!-- group215 begins-->
                            <div id="group216"  class="item-label-g col-md-9 "> <!-- group216 begins-->
                                <span  class="item-label" id="span217" >{{item.name}}</span>
                            </div> <!-- group216 ends-->
                            <div id="group218"  class="action col-md-3 "> <!-- group218 begins-->
                                <span  class="glyphicon glyphicon-trash action-item action-delete" data-ng-click="delOperation(item)" id="span219" ></span>
                                <span  class="glyphicon glyphicon-edit action-item action-edit"  id="span220" ></span>
                            </div> <!-- group218 ends-->
                        </div> <!-- group215 ends-->
                    </li>
                </ul>
            </div> <!-- op-content ends-->
        </div> <!-- group209 ends-->
    </div> <!-- group167 ends-->
</div> <!-- content ends-->
