<!-- Generated html file -->
<div id="content"  style="padding: 0; "  class="row content-inner col-md-10 col-md-offset-1 "> <!-- content begins-->
    <div id=""  style="padding:0; margin-bottom: 150px"  class=" col-md-7 "> <!-- path begins-->
        <div class="floatingPanel col-md-12" style="margin-bottom: 15px; padding:0">       <!-- definition begins-->
            <div id="definition"  style="padding:0;"  class=" col-md-12 ">
                <div style="height: 35px; border-bottom: 1px solid lightgray; margin-bottom: 5px">
                    <div class="header" style="padding: 10px 15px; margin: 0">
                        <span class="glyphicon glyphicon-cog" style="padding-right: 10px;"></span>
                        <span style="font-size: small; color: #0084bf;">Operation Definition</span>
                    </div>
                </div>
                <div style="padding: 15px 15px">
                    <div class="form-group">
                        <label for="input5"></label>
                        <input class=" form-control"  placeholder="operation" name="input5" id="input5" type="text" ng-model="currentOp.name"/>
                    </div> <!-- div id:input5 -->
                    <div  class="form-group">
                        <label for="select6">operation cmd</label>
                        <select name="select6" id="select6" ng-model="currentOp.command" class="form-control" >
                            <option ng-repeat='item in opCommand' value="{{item.rvalue}}"> {{item.dvalue}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="input7"></label>
                        <input class=" form-control"  placeholder="output" name="input7" id="input7" type="text" ng-model="currentOp.out"/>
                    </div> <!-- div id:input7 -->
                    <div class="form-group" >
                        <label for="textarea11">sql</label>
                        <div>
                            <textarea id="textarea11" class="form-control" name="textarea11" ui-codemirror="cmOption" ng-model="currentOp.sql.text"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 floatingPanel " style="padding: 0; min-height:302px">
            <div style="height: 35px; border-bottom: 1px solid lightgray; margin-bottom: 5px">
                <div class="header" style="padding: 10px 15px; margin: 0">
                    <span class="glyphicon glyphicon-log-in" style="padding-right: 10px;"></span>
                    <span style="font-size: small; color: #0084bf;">Operation Input Params</span>
                </div>
            </div>
            <div class="col-md-12 row" style="padding: 0">
                <div class="col-md-4" style="padding: 0 8px;" >
                    <ul class="items">
                        <li ng-repeat="item in inputs" >
                            <div class="col-md-12">
                                <div class="col-md-9 item-label-g input-item-label" >
                                    <span class="item-label">{{item.name}}</span>
                                </div>
                                <div class="col-md-3 action" style="padding-top: 8px;" >
                                    <span class="glyphicon glyphicon-edit action-item action-edit" data-ng-click="editInput(item)" ></span>
                                    <span class="glyphicon glyphicon-trash action-item action-delete" data-ng-click="delInput(item)"></span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--viewing inputs-->
                <div class="col-md-8" style=" padding: 0 0px 6px 15px;border-left: 1px solid lightgray;">
                    <div id="group141"  class=""> <!-- group141 begins-->
                        <div class="form-group">
                            <input class=" form-control"  placeholder="input name" name="input12" id="input12" type="text" ng-model="input.name"/>
                        </div> <!-- div id:input12 -->
                        <div  class="form-group">
                            <label for="select13">input type</label>
                            <select name="select13" id="select13" ng-model="input.type" class="form-control" >
                                <option ng-repeat='item in inputType' value="{{item.rvalue}}"> {{item.dvalue}}
                                </option>
                            </select>
                        </div>
                        <div  class="form-group">
                            <label for="select14">input style</label>
                            <select name="select14" id="select14" ng-model="input.style" class="form-control" >
                                <option ng-repeat='item in inputStyle' value="{{item.rvalue}}"> {{item.dvalue}}
                                </option>
                            </select>
                        </div>
                        <div  class="form-group">
                            <label for="select15">default value</label>
                            <select name="select15" id="select15" ng-model="input.defaultValue" class="form-control" >
                                <option ng-repeat='item in inputLocation' value="{{item.rvalue}}"> {{item.dvalue}}
                                </option>
                            </select>
                        </div>
                        <div >
                            <label for="input0">optional</label>
                            <input name="input30" id="input0" type="checkbox" ng-model="currentComponent.optional"/>
                        </div> <!-- div id:input30 -->
                        <button  class="floatingPanel" ng-click="AddInput()">add input</button>
                        <button  class="floatingPanel" ng-click="clear()">clear input</button>
                    </div> <!-- group141 ends-->
                </div>
            </div>
        </div>
    </div>
    <div id="group27" class="floatingPanel col-md-3 " style="padding:0; min-height:465px;max-height:465px;margin-left:15px"  > <!-- group27 begins-->
        <div style="height: 35px; border-bottom: 1px solid lightgray; margin-bottom: 5px">
            <div class="header" style="padding: 10px 15px; margin: 0">
                <span class="fa fa-gears" style="padding-right: 10px;"></span>
                <span style="font-size: small; color: #0084bf;">Module Operations</span>
            </div>
        </div>
        <ul class="items">
            <li ng-repeat="item in operations" ng-click="cclick(item)">
                <div class="col-md-12">
                    <div class="col-md-9 item-label-g" >
                        <span class="item-label">{{item.name}}</span>
                    </div>
                    <div class="col-md-3 action" >
                        <span class="glyphicon glyphicon-trash action-item action-delete" data-ng-click="delOperation(item)"></span>
                        <span class="glyphicon glyphicon-edit action-item action-edit" data-ng-click="cclick(item)" ></span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div> <!-- group27 ends-->
