<style>
    i{
        margin-right: 10px;
    }
</style>
<div  id="content" class="col-md-10 col-md-offset-1" style="margin-bottom: 150px;">  <!--content-->
    <div class="col-md-12 floatingPanel row" style=" padding-right: 0; color: lightslategray;">
        <div class="col-md-8">
            <div class="header-actions" style="height: 50px; margin-top: 5px">
               <button popover-placement="bottom" uib-popover-template="dynamicPopover.templateUrl" popover-title="Select a branch" class="button default">Branch<i class="glyphicon glyphicon-chevron-down" style="margin-left: 8px"></i> {{branch}}</button>
               <button class="button default" data-ng-click="pop()">New pull request</button>
               <button class="button default" data-ng-click="upload()" style="float: right">Upload files</button>
            </div>
            <div>
                <toaster-container toaster-options="{'close-button':false, 'time-out':{ 'toast-warning': 2000, 'toast-error': 0 } }"></toaster-container>
            </div>            
            <div class="modfiles">
                <span class="glyphicon glyphicon-tasks"> Database</span>
            </div>
            <div class="modfiles">
                <span class="glyphicon glyphicon-retweet"> Workflow</span>
            </div>
            <div class="modfiles">
                <span class="glyphicon glyphicon-modal-window"> Views</span>
                <ul class="act">
                    <li>
                        <span  class="glyphicon glyphicon-check"></span>
                    </li>
                    <li>
                        <span  class="glyphicon glyphicon-cog"></span>
                    </li>
                    <li>
                        <div  class="" uib-dropdown dropdown-append-to-body>
                            <span style="float: inherit;     padding-top: 2px;" class="glyphicon glyphicon-option-vertical" uib-dropdown-toggle></span>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                                <li role="menuitem"><a href="#">Action</a></li>
                                <li role="menuitem"><a href="#">Another action</a></li>
                                <li role="menuitem"><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li role="menuitem"><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="modfiles">
                <span class="glyphicon glyphicon-cog"> Operations</span>
                <ul class="act">
                    <li>
                        <span  class="glyphicon glyphicon-check"></span>
                    </li>
                    <li>
                        <span  class="glyphicon glyphicon-cog"></span>
                    </li>
                    <li>
                        <div  class="" uib-dropdown dropdown-append-to-body>
                            <span style="float: inherit;     padding-top: 2px;" class="glyphicon glyphicon-option-vertical" uib-dropdown-toggle></span>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                                <li role="menuitem"><a href="#">Action</a></li>
                                <li role="menuitem"><a href="#">Another action</a></li>
                                <li role="menuitem"><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li role="menuitem"><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="modfiles">
                    <span class="glyphicon glyphicon-file"> README</span>
            </div>
        </div>
        <div class="col-md-4" style=" background-color: #E9EBEE; height: 100%">
            <div class="desc">
                <span class="glyphicon glyphicon-th"> Module</span>
                <span class="fa fa-code-fork" style="float: right; font-size: 20px; font-weight: 900;color: black;"> </span>
            </div>
            <div class="desc">
                <span class="glyphicon glyphicon-user"> owner</span>
            </div>
            <div class="desc"  >
                <span class=""><i class="fa fa-users"></i> contributors</span>
                <span class="glyphicon glyphicon-chevron-down" style="float: right"> </span>
            </div>
            <div class="desc"  >
                <span class="glyphicon glyphicon-link"> linked modules</span>
            </div>
             <div class="desc"  >
                <span class=""><i class="fa fa-paper-plane-o"></i>  pull requests</span>
                <span class="badge" style="float: right"> 25</span>
            </div>
             <div class="desc"  >
                <span class=""><i class="fa fa-exclamation-triangle"></i> issues</span>
                <span class="badge" style="float: right"> 3</span>
            </div>

        </div>

    </div>
</div>

<script type="text/ng-template" id="branch.html">
    
    <div class="form-group">
        <ul class="item">
            <li ng-repeat="item in branches">
                <span class="fa fa-code-fork"></span>
                {{item.name}}
            </li>
        </ul>
    </div>
</script>