<!-- Generated html file -->
<div id="resources"  style="padding:0"  class=" row content-inner col-md-10 col-md-offset-1 "> <!-- resources begins-->
    <div id="resources_params"  style="padding:0;"  class=" col-md-7 "> <!-- resources_params begins-->
        <div id="rsc_definition"  style="margin-bottom: 15px; padding: 0"  class="floatingPanel col-md-12 "> <!-- rsc_definition begins-->
            <div id="rsc_def_header"  style="padding: 10px 15px; margin: 0"  class="g_header"> <!-- rsc_def_header begins-->
                <span  style="padding-right: 10px;"  class="glyphicon glyphicon-link" id="span152" ></span>
                <span  style="font-size: small; color: #0084bf;"  id="span153" >Resources definition</span>
            </div> <!-- rsc_def_header ends-->
            <div id="rsc_def_content"  style="padding: 15px 15px"  class=""> <!-- rsc_def_content begins-->
                <div  class="form-group">
                    <select name="select155" id="select155" ng-model="currentRsc.parent" class="form-control" ><option ng-repeat='item in RscParent' value="{{item.realpath}}"> {{item.realpath}}
                    </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="input156">path</label>
                    <input class=" form-control"  placeholder="path" name="input156" id="input156" type="text" ng-model="currentRsc.path"/>
                </div> <!-- div id:input156 -->
            </div> <!-- rsc_def_content ends-->
        </div> <!-- rsc_definition ends-->
        <div id="rsc_params"  style="padding: 0; min-height:302px"  class="floatingPanel col-md-12 "> <!-- rsc_params begins-->
            <div id="params_header"  style="padding: 10px 15px; margin: 0"  class="g_header"> <!-- params_header begins-->
                <span  style="padding-right: 10px;"  class="glyphicon glyphicon-cog" id="span158" ></span>
                <span  style="font-size: small; color: #0084bf;"  id="span159" >methods</span>
                <ul  style="list-style: none; float: right; font-size: xx-small; display: flex; margin-bottom: 0px; width: 60px;height: 20px;padding-left: 50px;" >
                    <li  style="margin: 0"  class="dropdown nav-options" uib-dropdown auto-close="disabled" on-toggle="toggled(open) ">
                        <span  class="glyphicon glyphicon-plus g-action" uib-dropdown-toggle data-ng-click="setmethoddropdownstyle()" id="simple-dropdownr" ></span>
                        <ul  class="dropdown-menu" template-url="methods_dropd.html" uib-dropdown-menu aria-labelledby="dropdownMenu3" >
                        </ul>
                    </li>
                </ul>
            </div> <!-- params_header ends-->
            <div id="params_content"  style="padding: 0;"  class=" row  col-md-12 "> <!-- params_content begins-->
                <div id="methods_list"  style=""  class=" col-md-4 "> <!-- methods_list begins-->
                    <ul  class="items">
                        <li ng-repeat=" item in methods">
                            <div id="group169"  class=" col-md-12 "> <!-- group169 begins-->
                                <div id="method"  class="item-label-g col-md-7 "> <!-- method begins-->
                                    <span  class="item-label" data-ng-click="getMethod(item)" id="span179" >{{item.id}}</span>
                                </div> <!-- method ends-->
                            </div> <!-- group169 ends-->
                        </li>
                    </ul>
                </div> <!-- methods_list ends-->
                <div id="params"  style="border-left:2px solid lightgray"  class=" col-md-8 "> <!-- params begins-->
                    <div id="method-action"  class=""> <!-- method-action begins-->
                        <ul  class="method-action">
                            <li >
                                <div id="trig"  class="dropdown" uib-dropdown auto-close="disabled"> <!-- trig begins-->
                                    <span  class="glyphicon glyphicon-share-alt" uib-dropdown-toggle id="span242" ></span>
                                    <ul  class="dropdown-menu" template-url="trigger.html" uib-dropdown-menu aria-labelledby="dropdownMenu1" >
                                    </ul>
                                </div> <!-- trig ends-->
                            </li>
                            <li >
                                <div id="resp"  class="dropdown" uib-dropdown auto-close="disabled"> <!-- resp begins-->
                                    <span  class="glyphicon glyphicon-plus" uib-dropdown-toggle

                                           data-ng-click="getMethod(item)" id="span243" ></span>
                                    <ul  class="dropdown-menu" template-url="response_dropd.html" uib-dropdown-menu aria-labelledby="dropdownMenu2" >
                                    </ul>
                                </div> <!-- resp ends-->
                            </li>
                            <li >
                                <div id="edit"  class="dropdown" uib-dropdown auto-close="disabled"> <!-- edit begins-->
                                    <span  class="glyphicon glyphicon-edit" uib-dropdown-toggle
                                           ng-click="getMethod(item)" id="span244" ></span>
                                    <ul  class="dropdown-menu" template-url="methods_dropd.html" uib-dropdown-menu aria-labelledby="dropdownMenu3" >
                                    </ul>
                                </div> <!-- edit ends-->
                            </li>
                            <li >
                                <div id="del"  class="dropdown" uib-dropdown auto-close="disabled"> <!-- del begins-->
                                    <span  class="glyphicon glyphicon-trash" ng-click="delete(methods, item)" id="span245" ></span>
                                </div> <!-- del ends-->
                            </li>
                        </ul>
                    </div> <!-- method-action ends-->
                    <uib-tabset >
                        <uib-tab index="220"  heading="trigger"> <!--begins-->
                            <div id="group254"  class="dropdown trigger" uib-dropdown auto-close="disabled"> <!-- group254 begins-->
                                <span  id="name" >name :</span>
                                <span  id="span236" >{{trigger.name}}</span>
                                <span  style="margin: 0 0 15px 30px"  id="origin" >origin :</span>
                                <span  id="span255" >{{trigger.origin}}</span>
                                <span  style="float:right"  class="glyphicon glyphicon-plus" uib-dropdown-toggle id="span256" ></span>
                                <ul  template-url="trigger-param.html" uib-dropdown-menu aria-labelledby="dropdownMenu4" >
                                </ul>
                            </div> <!-- group254 ends-->
                            <div id="group257"  class=""> <!-- group257 begins-->
                                <ul >
                                    <li ng-repeat=" item in currentRsc.method.trigger.in">
                                        <span  id="span268" >{{ item.name}}</span>
                                        <span  id="span269" >{{item.value}}</span>
                                    </li>
                                </ul>
                            </div> <!-- group257 ends-->
                        </uib-tab> <!--end-->
                        <uib-tab index="164"  heading="requests"> <!--begins-->
                            <div id="request"  class="floatingPanel request" ng-repeat="item in requests"> <!-- request begins-->
                            </div> <!-- request ends-->
                        </uib-tab> <!--end-->
                        <uib-tab index="165"  heading="responses"> <!--begins-->
                            <div id="response"  class="floatingPanel request" ng-repeat="item in responses"> <!-- response begins-->
                                <p>
                                    <span  class="param" id="span203_copy1" >name</span>
                                    <span  class="value" id="span204_copy1" ></span>
                                <p>
                                    <span  class="param" id="span203_copy1_copy9" >name</span>
                                    <span  class="value" id="span204_copy1_copy9" ></span>
                                </p>
                                </p>
                                <p>
                                    <span  class="param" id="span205_copy1" >Value</span>
                                    <span  class="value" id="span206_copy1" ></span>
                                </p>
                                <p>
                                    <span  class="param"  id="span207_copy1" >Media Type</span>
                                    <span  class="value" id="span208_copy1" ></span>
                                </p>
                            </div> <!-- response ends-->
                        </uib-tab> <!--end-->
                    </uib-tabset>
                </div> <!-- params ends-->
            </div> <!-- params_content ends-->
        </div> <!-- rsc_params ends-->
    </div> <!-- resources_params ends-->
    <div id="resources_tree"  style="padding:0; min-height:465px;max-height:465px;margin-left:15px"  class="floatingPanel col-md-3 "> <!-- resources_tree begins-->
        <div id="tree_header"  style="padding: 10px 15px; margin: 0"  class="g_header"> <!-- tree_header begins-->
            <span  style="padding-right: 10px;"  class="fa fa-cogs" id="span177" ></span>
            <span  style="font-size: small; color: #0084bf;"  id="span178" >Resources</span>
        </div> <!-- tree_header ends-->
        <div class="null"
             data-angular-treeview="true"
             data-tree-id="rsc_tree"
             data-tree-model="resources"
             data-node-id="path"
             data-node-click="cclick"
             data-node-children="resources"
             data-tree-actions="null"
        >
        </div>
    </div> <!-- resources_tree ends-->
</div> <!-- resources ends-->
<script type="text/ng-template" id="methods_dropd.html">
    <div class="dropdown-menu floatingPanel" ng-class="editMethod" uib-dropdown-menu role="menu" aria-labelledby="button-template-url"
    >
        <div  class="form-group">
            <label for="select188">method name</label>
            <select name="select188" id="select188" ng-model="currentRsc.method.name" class="form-control" ><option ng-repeat='item in resourceMethod' value="{{item.rvalue}}"> {{item.rvalue}}
            </option>
            </select>
        </div>
        <div  class="form-group">
            <label for="select189">method id</label>
            <select name="select189" id="select189" ng-model="currentRsc.method.id" class="form-control" ><option ng-repeat='item in ids' value="{{item.name}}"> {{item.name}}
            </option>
            </select>
        </div>
        <div class="form-group">
            <label for="input190">role</label>
            <input class=" form-control"  placeholder="role" name="input190" id="input190" type="text" ng-model="currentRsc.method.role"/>
        </div> <!-- div id:input190 -->
        <button  class="floatingPanel" ng-click="addMethod">Add method</button>
        <span  style="float: right;"  uib-dropdown-toggle id="span192" >Cancel</span>
    </div>
</script>
<script type="text/ng-template" id="response_dropd.html">
    <div class="dropdown-menu responsedropdown floatingPanel">
        <div  class="form-group">
            <label for="select210">Media Type</label>
            <select name="select210" id="select210" ng-model="rsptmp.mediatype" class="form-control" ><option ng-repeat='item in mediatype' value="{{item.rvalue}}"> {{item.dvalue}}
            </option>
            </select>
        </div>
        <div  class="form-group">
            <label for="select211">Param name</label>
            <select name="select211" id="select211" ng-model="rsptmp.name" class="form-control" ><option ng-repeat='item in requests' value="{{item.name}}"> {{item.name}}
            </option>
            </select>
        </div>
        <div class="form-group">
            <label for="input212">Param value</label>
            <input class=" form-control"  placeholder="paramValue" name="input212" id="input212" type="text" ng-model="rsptmp.value"/>
        </div> <!-- div id:input212 -->
        <button  ng-click="addResponse(item)">Add Response</button>
    </div>
</script>
<script type="text/ng-template" id="trigger.html">
    <div class="dropdown-menu responsedropdown floatingPanel"
    >
        <div class="form-group">
            <label for="input271">name</label>
            <input class=" form-control"  placeholder="name" name="input271" id="input271" type="text" ng-model="currentRsc.method.trigger.name"/>
        </div> <!-- div id:input271 -->
        <div class="form-group">
            <label for="input272">from</label>
            <input class=" form-control"  placeholder="from" name="input272" id="input272" type="text" ng-model="currentRsc.method.trigger.from"/>
        </div> <!-- div id:input272 -->
        <button  class="floatingPanel button blue">save</button>
    </div>
</script>
<script type="text/ng-template" id="trigger-param.html">
    <div class="dropdown-menu responsedropdown floatingPanel" ng-class="editMethod" uib-dropdown-menu role="menu" aria-labelledby="button-template-url"
    >
        <div class="form-group">
            <label for="input275">name</label>
            <input class=" form-control"  placeholder="name" name="input275" id="input275" type="text" ng-model="param.name"/>
        </div> <!-- div id:input275 -->
        <div class="form-group">
            <label for="input276">value</label>
            <input class=" form-control"  placeholder="value" name="input276" id="input276" type="text" ng-model="param.value"/>
        </div> <!-- div id:input276 -->
        <button  class="floatingPanel button blue" ng-click="addtriggerParam(param)">add</button>
    </div>
</script>
