<!-- Generated html file -->
<div id="racine"  style=""  class="racine content-inner col-md-10 col-md-offset-1 "> <!-- racine begins-->
    <div id="recepteur"  style="margin-bottom: 150px;"  class="floatingPanel recepteur col-md-7 "> <!-- recepteur begins-->
        <uib-tabset >
            <uib-tab index="13"  heading="Treeview"> <!--begins-->

                <div id="Heading" style="margin-bottom:5px;height: 35px; padding-top: 5px; padding-bottom: 5px;" class="floatingPanel col-md-12 "> <!-- Heading begins-->
                    <div id="treeHeading"  style="border-right: 1px solid #ddd"  class=" col-md-5 "> <!-- treeHeading begins-->
                        <div  > {{currentModel.label}} <span ng-hide="!currentModel" style=" color: lightslategray;"><i class="fa fa-chevron-right"></i> {{ currentComponent.id }}</span></div>
                    </div> <!-- treeHeading ends-->
                    <div class="col-md-3" style="border-right: 1px solid #ddd">
                        <span>{{ currentComponent.type }}</span>
                    </div>
                    <div  class="col-md-4 form-group" style="margin-bottom: 0">

                    </div> <!-- div id:input174 -->

                </div> <!-- Heading ends-->
                <div id="group136"  style="padding:0; margin-left:0;"  class="col-md-12 "> <!-- group136 begins-->
                    <div id="group137"  style="overflow-y: auto; max-height: 405px;padding:0"  class=" col-md-8 "> <!-- group137 begins-->
                        <div id="group132"  style="margin-left:0"  class="col-md-12 "> <!-- group132 begins-->
                            <div class=""
                                 data-angular-treeview="true"
                                 data-tree-id="modelstree"
                                 data-tree-model="components.children"
                                 data-node-id=""
                                 data-node-click="cclick"
                                 data-node-children="children"
                                 data-tree-actions="treeActions"
                            >
                            </div>
                        </div> <!-- group132 ends-->
                    </div> <!-- group137 ends-->
                    <div id="group159"  style="border-left:1px solid gainsboro; border-right:1px solid gainsboro; overflow-y:auto; max-height: 405px;padding:6px;"  class=" col-md-4 "> <!-- group159 begins-->
                        <div id="group161"  ui-view="" class=""> <!-- group161 begins-->
                        </div> <!-- group161 ends-->
                    </div> <!-- group159 ends-->
                </div> <!-- group136 ends-->
            </uib-tab> <!--end-->
            <uib-tab index="14"  heading="functions"> <!--begins-->

                <div id="func_content"  class="tab_content "> <!-- func_content begins-->
                    <div class="content">
                        <span style="float: right; font-size: medium" class="glyphicon glyphicon-list" onclick="changeLayout('functionlist', 'functionlist')"></span>
                        <div class="checkbox">
                            <label class="checkbox-inline"><input  type="checkbox"  value="local" ng-model="function.local">
                                <span class="box"></span>
                                local
                            </label>

                        </div> <!-- div id:input30 -->
                        <div>
                            <div class="form-group">
                                <label for="input17">Name</label>
                                <input class=" form-control"  placeholder="name" name="input17" id="input17" type="text" ng-model="function.name"/>
                            </div> <!-- div id:input17 -->
                        </div>
                        <div class="form-group" >
                            <label for="textarea18">content</label>
                            <div class="cmirror">
                                <textarea id="textarea18" class="form-control"    name="textarea18" ui-codemirror="cmOption" ng-model="function.content"></textarea>
                            </div>
                        </div>
                        <div id="action"  class="" style="float: right"> <!-- action begins-->
                            <button style="margin: 0 10px;"  class="floatingPanel button " ng-click="cancel()">Cancel</button>
                            <button style="margin: 0 10px;" ng-hide="updateparam==true" class="floatingPanel button custom" ng-click="addParams('function')">Add function</button>
                            <button style="margin: 0 10px;" ng-show="updateparam==true" class="floatingPanel button custom" ng-click="updateParam('function')">Save function</button>
                        </div> <!-- action ends-->
                    </div>
                    <div class="functionlist floatingPanel list" id="functionlist">
                        <div class="generation">
                            <i class="glyphicon glyphicon-cog"></i>
                            <span style="margin-left: 15px; cursor: pointer" data-ng-click="generatefunctions()">Generate functions</span>
                        </div>
                        <ul style="list-style:none; padding: 0">
                            <li style="border: initial;" ng-repeat='item in currentComponent.functions' data-ng-click="setParam(item, 'function')">
                                {{item.name}}
                                <span style="float: right" class="fa fa-trash" data-ng-click="deleteParam('function', item)"></span>
                            </li>
                        </ul>
                    </div>

                </div> <!-- func_content ends-->
            </uib-tab> <!--end-->
            <uib-tab index="15"  heading="actions"> <!--begins-->

                <div id="action_content"   class="tab_content"> <!-- func_content begins-->
                    <div class="content" style="margin-top: 15px">
                        <span style="float: right; font-size: medium" class="glyphicon glyphicon-list" onclick="changeLayout('actionlist', 'actionlist')"></span>
                        <div class="form-group">
                            <label for="input23">Name</label>
                            <input class=" form-control"  placeholder="name" name="input23" id="input23" type="text" ng-model="action.name"/>
                        </div> <!-- div id:input23 -->
                        <div class="form-group">
                            <label for="input2i">Role</label>
                            <input class=" form-control"  placeholder="role" name="input2i" id="input2i" type="text" ng-model="action.role"/>
                        </div> <!-- div id:input23 -->
                        <div class="form-group">
                            <label for="input24">Icon</label>
                            <input class=" form-control"  placeholder="icon" name="input24" id="input24" type="text" ng-model="action.icon"/>
                        </div> <!-- div id:input24 -->
                        <div class="form-group" >
                            <label for="textarea27_copy2">dependances</label>
                            <div class="cmirror">
                                <textarea id="textarea27_copy2" class="form-control" name="textarea27_copy2" ui-codemirror="cmOption" ng-model="action.dependances"></textarea>
                            </div>
                        </div>
                        <div class="form-group" >
                            <label for="textarea27">Action</label>
                            <div class="cmirror">
                                <textarea id="textarea27" class="form-control" name="textarea27" ui-codemirror="cmOption" ng-model="action.action"></textarea>
                            </div>
                        </div>
                        <div id="actions" style="float: right" > <!-- actions begins-->
                            <button  class="floatingPanel button " style="margin: 0 10px" ng-click="cancel()">Cancel</button>
                            <button ng-hide="updateparam==true" class="floatingPanel button custom"  ng-click="addParams('action')">add action</button>
                            <button ng-show="updateparam==true" class="floatingPanel button custom"  ng-click="updateParam('action')">save action</button>
                        </div> <!-- actions ends-->
                    </div>
                    <div id="actionlist" class="list floatingPanel actionlist">
                        <div class="listcontent">
                            <div class="generation">
                                <i class="glyphicon glyphicon-cog"></i>
                                <span style="margin-left: 15px; cursor: pointer" data-ng-click="generateactions()">Generate actions</span>
                            </div>
                            <ul style="list-style:none; padding: 0">
                                <li style="border: initial;"   ng-repeat='item in currentComponent.actions' data-ng-click="setParam(item, 'variable')">
                                    {{item.name}}
                                    <span style="float: right" class="fa fa-trash" data-ng-click="deleteParam('action', item)"></span>
                                </li>
                            </ul>
                        </div>

                    </div>

                </div> <!-- data ends-->
            </uib-tab> <!--end-->
            <uib-tab index="16"  heading="variables"> <!--begins-->

                <div id="tab_content"   class="tab_content "> <!-- tab_content begins-->
                    <div id="_content" class="content">
                        <div >
                            <div class="checkbox">
                                <label class="checkbox-inline"><input  type="checkbox"  value="resolve" ng-model="variable.resolve">
                                    <span class="box"></span>
                                    resolve
                                </label>
                                <label class="checkbox-inline">
                                    <input  type="checkbox"  value="async" onclick="test()" ng-model="variable.async">
                                    <span class="box"></span>
                                    async
                                </label>
                                <label class="checkbox-inline">
                                    <input  type="checkbox"  value="local" ng-model="variable.local">
                                    <span class="box"></span>
                                    local
                                </label>
                                <span style="float: right; font-size: medium" class="glyphicon glyphicon-list" onclick="changeLayout('varlist', 'varlist')"></span>
                            </div> <!-- div id:input30 -->
                        </div>
                        <div class="form-group">
                            <label for="input29" class="form-control-label">Cache</label>
                            <select class="form-control" name="cache" id="cache" >
                                <option value=""></option>
                                <option value="default">default</option>
                                <option value="new">new</option>
                                <option value="from">from</option>
                                <option value="to">to</option>
                            </select>
                        </div> <!-- div id:input29 -->
                        <div class="form-group">
                            <label for="input29">Name</label>
                            <input class=" form-control"  placeholder="name" name="input29" id="input29" type="text" ng-model="variable.name"/>
                        </div> <!-- div id:input29 -->
                        <div class="form-group">
                            <label for="input162">service</label>
                            <input class=" form-control"  placeholder="serviceform" name="input162" id="input162" type="text" ng-model="variable.service"/>
                        </div> <!-- div id:input162 -->
                        <div class="form-group" >
                            <label for="textarea124">value</label>
                            <div class="cmirror">
                                <textarea id="textarea124" class="form-control" name="textarea124" ui-codemirror="cmOption" ng-model="variable.value"></textarea>
                            </div>
                        </div>
                        <div id="_action"  style="float: right"> <!-- action begins-->
                            <button  ng-click="cancel('variable')" class="floatingPanel button " style="margin: 0 10px">cancel</button>
                            <button ng-hide="updateparam==true" ng-click="addParams('variable')" class="floatingPanel button custom" >Add variable</button>
                            <button ng-show="updateparam==true" ng-click="updateParam('variable')" class="floatingPanel button custom" >save variable</button>
                        </div>
                    </div>
                    <div  id="varlist" class="list floatingPanel varlist" >
                        <div id="toto" style=" ">
                            <div class="generation">
                                <i class="glyphicon glyphicon-cog"></i>
                                <span style="margin-left: 15px; cursor: pointer" data-ng-click="generatevars()">Generate vars</span>
                            </div>
                            <ul style="list-style:none; padding: 0">
                                <li style="border: initial; cursor: pointer" ng-repeat='item in currentComponent.variables' data-ng-click="setParam(item, 'variable')">
                                    {{item.name}}
                                    <span style="float: right" class="fa fa-trash" data-ng-click="deleteParam('variable', item)"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- tab_content ends-->
            </uib-tab> <!--end-->
            <uib-tab index="77" heading="configs">

                <div id="cHeading" style="margin-bottom:5px;height: 35px; padding-top: 5px; padding-bottom: 5px;"
                     class="floatingPanel col-md-12 "> <!-- Heading begins-->
                    <div id="config" style="border-right: 1px solid #ddd" class=" col-md-5 "> <!-- treeHeading begins-->
                        <div> {{currentModel.label}} <span style=" color: lightslategray;"><i
                                class="fa fa-chevron-right"></i> configs </span></div>
                    </div> <!-- treeHeading ends-->
                    <div class="col-md-3" style="border-right: 1px solid #ddd">
                        <!--<span>{{ currentComponent.type }}</span>-->
                    </div>

                </div> <!-- Heading ends-->
                <div id="group93" style="" class=" col-md-12 "> <!-- group93 begins-->
                    <div class="checkbox">
                        <label class="checkbox-inline">
                            <input  type="checkbox"  value="local" ng-model="currentComponent.mainmenu"/>
                            <span class="box"></span>
                            Module menu
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="input179">icon</label>
                        <input class=" form-control" placeholder="icon" name="input179" id="input179" type="text"
                               ng-model="currentComponent.icon"/>
                    </div> <!-- div id:input179 -->
                    <div class="form-group">
                        <label for="input153">role</label>
                        <input class=" form-control" placeholder="role" name="input153" id="input153" type="text"
                               ng-model="currentComponent.role"/>
                    </div> <!-- div id:input153 -->
                    <div class="form-group">
                        <label for="input78">state</label>
                        <input class=" form-control" placeholder="state" name="input78" id="input78" type="text"
                               ng-model="currentComponent.state"/>
                    </div> <!-- div id:input78 -->
                    <div class="form-group">
                        <label for="input105">url</label>
                        <input class=" form-control" placeholder="url" name="input105" id="input105" type="text"
                               ng-model="currentComponent.url"/>
                    </div> <!-- div id:input105 -->
                    <div>
                        <div class="md-radio md-radio-inline">
                            <p>Template type</p>
                            <input id="2a" value="static" vng-model="currentComponent.templatetype" type="radio" name="g2" checked>
                            <label for="2a">static</label>
                            <input id="3b" value="function" ng-model="currentComponent.templatetype" type="radio" name="g2" >
                            <label for="3b">function</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textarea110">templateUrl</label>
                        <div class="cmirror">
                            <textarea id="textarea110" class="form-control" name="textarea110" ui-codemirror="cmOption" ng-model="currentComponent.templateUrl"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textarea151">Dependances</label>
                        <div class="cmirror">
                            <textarea id="textarea151" class="form-control" ui-codemirror="cmOption" name="textarea151"  ng-model="currentComponent.dependances"></textarea>
                        </div>
                    </div>

                </div> <!-- group93 ends-->
            </uib-tab> <!--end-->
        </uib-tabset>

    </div> <!-- recepteur ends-->
    <div id="composant"  style="margin-left:15px"  class=" row floatingPanel composants composant col-md-3 "> <!-- composant begins-->
        <uib-tabset >
            <uib-tab index="5"  heading="components"> <!--begins-->
                <uib-accordion close-others="true">
                    <div uib-accordion-group class="panel-default" heading="Simple components">
                        <div  class="components" ng-repeat='item in HTMLcomponents.simple'>
                            <a ui-sref="root.generator.views.properties({label:item.label, type:item.type, num:currentComponent.num})" ng-click='add(item)'>
                                <div id="group39"  class="sizer col-md-6 "> <!-- group39 begins-->
                                    <span  id="span40" >{{item.type}}</span>
                                    <span  class="{{item.img}}" id="span41" ></span>
                                </div> <!-- group39 ends-->
                            </a>
                        </div>
                    </div>
                    <div uib-accordion-group class="panel-default" heading="Containers components">
                        <div  class="components" ng-repeat='item in HTMLcomponents.container'>
                            <a ui-sref="root.generator.views.properties({label:item.label, type:item.type, num:currentComponent.num})" ng-click='add(item)'>
                                <div id="group50"  class="sizer col-md-6 "> <!-- group50 begins-->
                                    <span  id="span51" >{{item.type}}</span>
                                    <span  class="{{item.img}}" id="span52" ></span>
                                </div> <!-- group50 ends-->
                            </a>
                        </div>
                    </div>
                    <div uib-accordion-group class="panel-default" heading="Widgets components">
                        <div  class="components" ng-repeat='item in HTMLcomponents.widget'>
                            <a ui-sref="root.generator.views.properties({label:item.label, type:item.type, num:currentComponent.num})" ng-click='add(item)'>
                                <div id="group55"  class="sizer col-md-6 "> <!-- group55 begins-->
                                    <span  id="span56" >{{item.type}}</span>
                                    <span  class="{{item.img}}" id="span57" >{{item.views}}</span>
                                </div> <!-- group55 ends-->
                            </a>
                        </div>
                    </div>
                </uib-accordion>
                <!--<div id="simple"  class=""> &lt;!&ndash; simple begins&ndash;&gt;-->
                <!--</div> &lt;!&ndash; simple ends&ndash;&gt;-->
                <!--<div id="container"  class=""> &lt;!&ndash; container begins&ndash;&gt;-->
                <!--</div> &lt;!&ndash; container ends&ndash;&gt;-->
                <!--<div id="widget"  class=""> &lt;!&ndash; widget begins&ndash;&gt;-->
                <!--</div> &lt;!&ndash; widget ends&ndash;&gt;-->
            </uib-tab> <!--end-->
            <uib-tab index="9"  heading="views"> <!--begins-->
                <ul  class="items">
                    <li class="_item" data-ng-click="cclick(item)" ng-class="{selectedItem:item.name==selected}" ng-repeat=" item in models">
                        <a ui-sref="root.generator.views.properties({label:item.label, type:item.type, num:currentComponent.num})" ng-click='setModel(item)'>
                            {{item.label}}
                        </a>
                        <span  style="float: right" class="glyphicon glyphicon-trash action-item action-delete" data-ng-click="deleteModel(item)" id="span219" ></span>
                    </li>
                </ul>
                <!--<ul  class="list-group partial-view">-->
                <!--<li  class="list-group-item"ng-repeat=" item in models">-->
                <!---->
                <!--<span  class="glyphicon glyphicon-trash item-label" data-ng-click="deleteModel(item)" id="span158" ></span>-->
                <!--</li>-->
                <!--</ul>-->
            </uib-tab> <!--end-->
        </uib-tabset>
    </div> <!-- composant ends-->
</div> <!-- racine ends-->

<script>
    $(document).ready(function () {
        document.getElementById("varlist").style.display = "none";
        document.getElementById("actionlist").style.display = "none";
        document.getElementById("functionlist").style.display = "none";
    });
</script>