<!-- Generated html file -->
<div id="racine"  style=""  class="racine content-inner col-md-10 col-md-offset-1 "> <!-- racine begins-->
    <div id="recepteur"  style="margin-bottom: 150px;"  class="floatingPanel recepteur col-md-7 "> <!-- recepteur begins-->
        <uib-tabset >
            <uib-tab index="13"  heading="Treeview"> <!--begins-->
                <div id="Heading" style="margin-bottom:5px;height: 35px; padding-top: 5px; padding-bottom: 5px;" class="floatingPanel col-md-12 "> <!-- Heading begins-->
                    <div id="treeHeading"  style="border-right: 1px solid #ddd"  class=" col-md-5 "> <!-- treeHeading begins-->
                        <div  > {{currentModel.label}} <span ng-hide="!currentModel" style=" color: lightslategray;"><i class="fa fa-chevron-right"></i> {{ currentComponent.id }}</span></div>
                    </div> <!-- treeHeading ends-->
                    <div class="col-md-3" style="border-right: 1px solid #ddd">
                        <span>{{ currentComponent.type }}</span>
                    </div>
                    <div  class="col-md-4 form-group" style="margin-bottom: 0">

                    </div> <!-- div id:input174 -->

                </div> <!-- Heading ends-->
                <div id="group136"  style="padding:0; margin-left:0;"  class="col-md-12 "> <!-- group136 begins-->
                    <div id="group137"  style="overflow-y: auto; max-height: 405px;padding:0"  class=" col-md-8 "> <!-- group137 begins-->
                        <div id="group132"  style="margin-left:0"  class="col-md-12 "> <!-- group132 begins-->
                            <div class=""
                                 data-angular-treeview="true"
                                 data-tree-id="modelstree"
                                 data-tree-model="components.children"
                                 data-node-id=""
                                 data-node-click="cclick"
                                 data-node-children="children"
                                 data-tree-actions="treeActions"
                            >
                            </div>
                        </div> <!-- group132 ends-->
                    </div> <!-- group137 ends-->
                    <div id="group159"  style="border-left:1px solid gainsboro; border-right:1px solid gainsboro; overflow-y:auto; max-height: 405px;padding:6px;"  class=" col-md-4 "> <!-- group159 begins-->
                        <div id="group161"  ui-view="" class=""> <!-- group161 begins-->
                        </div> <!-- group161 ends-->
                    </div> <!-- group159 ends-->
                </div> <!-- group136 ends-->
            </uib-tab> <!--end-->
            <uib-tab index="14"  heading="functions"> <!--begins-->
                <div id="fHeading" class="floatingPanel col-md-12 view-heading"> <!-- Heading begins-->
                    <div id="functionHeading"  class=" col-md-4 hblock"> <!-- treeHeading begins-->
                        <div  > {{currentModel.label}} <span style=" color: lightslategray;"><i class="fa fa-chevron-right style"></i> functions </span></div>
                    </div> <!-- treeHeading ends-->

                    <div class="col-md-8 hblock" style="padding:0;border:none" >
                        <ul class="haction" >
                            <li><span class="fa fa-chevron-left" ng-class="prev_state" data-ng-click="previous()"> </span></li>
                            <li popover-placement="bottom" uib-popover-template="'functionlist.html'" ><span class="fa fa-list"></span></li>
                            <li><span class="fa fa-chevron-right" ng-class="next_state" data-ng-click="next('function')"></span></li>
                        </ul>
                    </div>

                </div> <!-- Heading ends-->
                <div id="func_content"  style="padding:20px;"  class="col-md-12"> <!-- func_content begins-->
                    <!--<div class="col-md-8">-->
                    <div>
                        <div class="form-group">
                            <label for="input17">Name</label>
                            <input class=" form-control"  placeholder="name" name="input17" id="input17" type="text" ng-model="function.name"/>
                        </div> <!-- div id:input17 -->
                    </div>
                    <div class="form-group" >
                        <label for="textarea18">content</label>
                        <div class="cmirror">
                            <textarea id="textarea18" class="form-control"    name="textarea18" ui-codemirror="cmOption" ng-model="function.content"></textarea>
                        </div>
                    </div>
                    <div id="action"  class="" style="float: right"> <!-- action begins-->
                        <button style="margin: 0 10px;"  class="floatingPanel button " ng-click="cancel()">Cancel</button>
                        <button style="margin: 0 10px;" ng-hide="updateparam==true" class="floatingPanel button custom" ng-click="addParams('function')">Add function</button>
                        <button style="margin: 0 10px;" ng-show="updateparam==true" class="floatingPanel button custom" ng-click="updateParam('function')">Save function</button>
                    </div> <!-- action ends-->

                </div> <!-- func_content ends-->
            </uib-tab> <!--end-->
            <uib-tab index="15"  heading="actions"> <!--begins-->
                <div id="aHeading" class="floatingPanel col-md-12 view-heading"> <!-- Heading begins-->
                    <div id="functionHeading"  class=" col-md-4 hblock"> <!-- treeHeading begins-->
                        <div  > {{currentModel.label}} <span style=" color: lightslategray;"><i class="fa fa-chevron-right style"></i> functions </span></div>
                    </div> <!-- treeHeading ends-->

                    <div class="col-md-8 hblock" style="padding:0;border:none" >
                        <ul class="haction" >
                            <li><span class="fa fa-chevron-left" ng-class="prev_state" data-ng-click="previous()"> </span></li>
                            <li popover-placement="bottom" uib-popover-template="'functionlist.html'" ><span class="fa fa-list"></span></li>
                            <li><span class="fa fa-chevron-right" ng-class="next_state" data-ng-click="next('function')"></span></li>
                        </ul>
                    </div>

                </div> <!-- Heading ends-->
                <div id="action_content"  style="padding:20px;"  class="col-md-12"> <!-- func_content begins-->
                    <div class="form-group">
                        <label for="input23">Name</label>
                        <input class=" form-control"  placeholder="name" name="input23" id="input23" type="text" ng-model="action.name"/>
                    </div> <!-- div id:input23 -->
                    <div class="form-group">
                        <label for="input24">Icon</label>
                        <input class=" form-control"  placeholder="icon" name="input24" id="input24" type="text" ng-model="action.icon"/>
                    </div> <!-- div id:input24 -->
                    <div class="form-group" >
                        <label for="textarea27_copy2">dependances</label>
                        <div class="cmirror">
                            <textarea id="textarea27_copy2" class="form-control" name="textarea27_copy2" ui-codemirror="cmOption" ng-model="action.dependances"></textarea>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label for="textarea27">Action</label>
                        <div class="cmirror">
                            <textarea id="textarea27" class="form-control" name="textarea27" ui-codemirror="cmOption" ng-model="action.action"></textarea>
                        </div>
                    </div>
                    <div id="actions" style="float: right" > <!-- actions begins-->
                        <button  class="floatingPanel button " style="margin: 0 10px" ng-click="cancel()">Cancel</button>
                        <button ng-hide="updateparam==true" class="floatingPanel button custom"  ng-click="addParams('action')">add action</button>
                        <button ng-show="updateparam==true" class="floatingPanel button custom"  ng-click="updateParam('action')">save action</button>
                    </div> <!-- actions ends-->
                </div> <!-- data ends-->

            </uib-tab> <!--end-->
            <uib-tab index="16"  heading="variables"> <!--begins-->
                <div id="vHeading" class="floatingPanel col-md-12 view-heading"> <!-- Heading begins-->
                    <div id="variableHeading"  class=" col-md-4 hblock"> <!-- treeHeading begins-->
                        <div  > {{currentModel.label}} <span style=" color: lightslategray;"><i class="fa fa-chevron-right style"></i> variables </span></div>
                    </div> <!-- treeHeading ends-->
                    <div class="col-md-8 hblock" style="padding:0;border:none" >
                        <ul class="haction" >
                            <li><span class="fa fa-chevron-left" data-ng-click="previous()"></span></li>
                            <li popover-placement="bottom" uib-popover-template="'varlist.html'"  popover-trigger="outsideClick"><span class="fa fa-list"></span></li>
                            <li><span class="fa fa-chevron-right" data-ng-click="next()"></span></li>
                        </ul>
                    </div>

                </div> <!-- Heading ends-->
                <div id="var_content"  style="padding:20px;"  class="col-md-12"> <!-- var_content begins-->
                    <div class="checkbox">
                        <label class="checkbox-inline"><input  type="checkbox"  value="resolve" ng-model="variable.resolve">resolve</label>
                        <label class="checkbox-inline"><input  type="checkbox"  value="async" ng-model="variable.async">async</label>
                    </div> <!-- div id:input30 -->
                    <div class="form-group">
                        <label for="input29">Name</label>
                        <input class=" form-control"  placeholder="name" name="input29" id="input29" type="text" ng-model="variable.name"/>
                    </div> <!-- div id:input29 -->
                    <div class="form-group">
                        <label for="input162">service form</label>
                        <input class=" form-control"  placeholder="serviceform" name="input162" id="input162" type="text" ng-model="variable.servform"/>
                    </div> <!-- div id:input162 -->
                    <div class="form-group">
                        <label for="input163">service module</label>
                        <input class=" form-control"  placeholder="service module" name="input163" id="input163" type="text" ng-model="variable.servmodule"/>
                    </div> <!-- div id:input163 -->
                    <div class="form-group" >
                        <label for="textarea124">value</label>
                        <div class="cmirror">
                            <textarea id="textarea124" class="form-control" name="textarea124" ui-codemirror="cmOption" ng-model="variable.value"></textarea>
                        </div>
                    </div>
                    <div id="_action"  style="float: right"> <!-- action begins-->
                        <button  ng-click="cancel('variable')" class="floatingPanel button " style="margin: 0 10px">cancel</button>
                        <button ng-hide="updateparam==true" ng-click="addParams('variable')" class="floatingPanel button custom" >Add variable</button>
                        <button ng-show="updateparam==true" ng-click="updateParam('variable')" class="floatingPanel button custom" >save variable</button>
                    </div> <!-- action ends-->
                </div> <!-- var_content ends-->
            </uib-tab> <!--end-->
            <uib-tab index="77" heading="configs">
                <div id="cHeading" style="margin-bottom:5px;height: 35px; padding-top: 5px; padding-bottom: 5px;"
                     class="floatingPanel col-md-12 "> <!-- Heading begins-->
                    <div id="config" style="border-right: 1px solid #ddd" class=" col-md-5 "> <!-- treeHeading begins-->
                        <div> {{currentModel.label}} <span style=" color: lightslategray;"><i
                                class="fa fa-chevron-right"></i> configs </span></div>
                    </div> <!-- treeHeading ends-->
                    <div class="col-md-3" style="border-right: 1px solid #ddd">
                        <!--<span>{{ currentComponent.type }}</span>-->
                    </div>

                </div> <!-- Heading ends-->
                <div id="group93" style="" class=" col-md-12 "> <!-- group93 begins-->
                    <div>
                        <label for="input152">view in main menu</label>
                        <input class=" " placeholder="view in main menu" name="input152" id="input152" type="checkbox"
                               ng-model="currentComponent.mainmenu"/>
                    </div> <!-- div id:input152 -->
                    <div class="form-group">
                        <label for="input179">icon</label>
                        <input class=" form-control" placeholder="icon" name="input179" id="input179" type="text"
                               ng-model="currentComponent.icon"/>
                    </div> <!-- div id:input179 -->
                    <div class="form-group">
                        <label for="input153">role</label>
                        <input class=" form-control" placeholder="role" name="input153" id="input153" type="text"
                               ng-model="currentComponent.role"/>
                    </div> <!-- div id:input153 -->
                    <div class="form-group">
                        <label for="input78">state</label>
                        <input class=" form-control" placeholder="state" name="input78" id="input78" type="text"
                               ng-model="currentComponent.state"/>
                    </div> <!-- div id:input78 -->
                    <div class="form-group">
                        <label for="input105">url</label>
                        <input class=" form-control" placeholder="url" name="input105" id="input105" type="text"
                               ng-model="currentComponent.url"/>
                    </div> <!-- div id:input105 -->
                    <div>
                        <label for="radio111">template type</label>
                        <div class="spacer">
                            <label class=" radio-inline">
                                <input id="radio111" type="radio" value="static"
                                       ng-model="currentComponent.templatetype"> static
                            </label>
                            <label class=" radio-inline">
                                <input id="radio11" type="radio" value="function"
                                       ng-model="currentComponent.templatetype"> function
                            </label>
                        </div>
                    </div> <!-- div id:radio111 -->
                    <div class="form-group">
                        <label for="textarea110">templateUrl</label>
                        <div class="cmirror">
                            <textarea id="textarea110" class="form-control" name="textarea110" ui-codemirror="cmOption" ng-model="currentComponent.templateUrl"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textarea151">Dependances</label>
                        <div class="cmirror">
                            <textarea id="textarea151" class="form-control" ui-codemirror="cmOption" name="textarea151"  ng-model="currentComponent.dependances"></textarea>
                        </div>
                    </div>
                   
                </div> <!-- group93 ends-->
            </uib-tab> <!--end-->
        </uib-tabset>
    </div> <!-- recepteur ends-->
    <div id="composant"  style="margin-left:15px"  class=" row floatingPanel composants composant col-md-3 "> <!-- composant begins-->
        <uib-tabset >
            <uib-tab index="5"  heading="components"> <!--begins-->
                <uib-accordion close-others="true">
                    <div uib-accordion-group class="panel-default" heading="Simple components">
                        <div  class="components" ng-repeat='item in HTMLcomponents.simple'>
                            <a ui-sref="root.generator.views.properties({label:item.label, type:item.type, num:currentComponent.num})" ng-click='add(item)'>
                                <div id="group39"  class="sizer col-md-6 "> <!-- group39 begins-->
                                    <span  id="span40" >{{item.type}}</span>
                                    <span  class="{{item.img}}" id="span41" ></span>
                                </div> <!-- group39 ends-->
                            </a>
                        </div>
                    </div>
                    <div uib-accordion-group class="panel-default" heading="Containers components">
                        <div  class="components" ng-repeat='item in HTMLcomponents.container'>
                            <a ui-sref="root.generator.views.properties({label:item.label, type:item.type, num:currentComponent.num})" ng-click='add(item)'>
                                <div id="group50"  class="sizer col-md-6 "> <!-- group50 begins-->
                                    <span  id="span51" >{{item.type}}</span>
                                    <span  class="{{item.img}}" id="span52" ></span>
                                </div> <!-- group50 ends-->
                            </a>
                        </div>
                    </div>
                    <div uib-accordion-group class="panel-default" heading="Widgets components">
                        <div  class="components" ng-repeat='item in HTMLcomponents.widget'>
                            <a ui-sref="root.generator.views.properties({label:item.label, type:item.type, num:currentComponent.num})" ng-click='add(item)'>
                                <div id="group55"  class="sizer col-md-6 "> <!-- group55 begins-->
                                    <span  id="span56" >{{item.type}}</span>
                                    <span  class="{{item.img}}" id="span57" >{{item.views}}</span>
                                </div> <!-- group55 ends-->
                            </a>
                        </div>
                    </div>
                </uib-accordion>
                <div id="simple"  class=""> <!-- simple begins-->
                </div> <!-- simple ends-->
                <div id="container"  class=""> <!-- container begins-->
                </div> <!-- container ends-->
                <div id="widget"  class=""> <!-- widget begins-->
                </div> <!-- widget ends-->
            </uib-tab> <!--end-->
            <uib-tab index="9"  heading="views"> <!--begins-->
                <ul  class="items">
                    <li class="_item" data-ng-click="cclick(item)" ng-class="{selectedItem:item.name==selected}" ng-repeat=" item in models">
                        <a ui-sref="root.generator.views.properties({label:item.label, type:item.type, num:currentComponent.num})" ng-click='setModel(item)'>
                            {{item.label}}
                        </a>
                        <span  style="float: right" class="glyphicon glyphicon-trash action-item action-delete" data-ng-click="deleteModel(item)" id="span219" ></span>
                    </li>
                </ul>
                <!--<ul  class="list-group partial-view">-->
                <!--<li  class="list-group-item"ng-repeat=" item in models">-->
                <!---->
                <!--<span  class="glyphicon glyphicon-trash item-label" data-ng-click="deleteModel(item)" id="span158" ></span>-->
                <!--</li>-->
                <!--</ul>-->
            </uib-tab> <!--end-->
        </uib-tabset>
    </div> <!-- composant ends-->
</div> <!-- racine ends-->

<script type="text/ng-template" id="functionlist.html">
    <div class="form-group">
        <div class="form-group">
            <input type="text" name="" id="" class="input-group">
        </div>
        <ul style="list-style:none; padding: 0">
            <li style="border: initial;" ng-repeat='item in currentComponent.functions' data-ng-click="setParam(item, 'function')">
                {{item.name}}
                <span style="float: right" class="fa fa-trash" data-ng-click="deleteParam('function', item)"></span>
            </li>
        </ul>
    </div>
</script>
<script type="text/ng-template" id="varlist.html">
    <div class="form-group">
        <div class="form-group">
            <input type="text"  class="input-group">
        </div>
        <ul style="list-style:none; padding: 0">
            <li style="border: initial;" ng-repeat='item in currentComponent.variables' data-ng-click="setParam(item, 'variable')">
                {{item.name}}
                <span style="float: right" class="fa fa-trash" data-ng-click="deleteParam('variable', item)"></span>
            </li>
        </ul>
    </div>
</script>
<script type="text/ng-template" id="actionlist.html">
    <div class="form-group">
        <div class="form-group">
            <input type="text"  class="input-group">
        </div>
        <ul style="list-style:none; padding: 0">
            <li style="border: initial;"   ng-repeat='item in currentComponent.actions' data-ng-click="setParam(item, 'variable')">
                {{item.name}}
                <span style="float: right" class="fa fa-trash" data-ng-click="deleteParam('action', item)"></span>
            </li>
        </ul>
    </div>
</script>