body{
    background: #ECEFF1;
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Roboto', sans-serif;
    margin: 0;
    overflow: hidden;
}
.form-control{
    border-radius: 0 !important;
}
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}
/**/
.item{
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    list-style: none;
    padding: 0 0 8px 0;
    position: relative;
}


.item li:hover{
    background-color: rgba(0,0,0,.03);
    border-radius: 2px;
}
/****** tree-view action ******/
.an{
    color: lightgray;
    margin: 2px;
    font-size: 10px;
}

/*.form-control.focus {*/
/*border-color: #273135;*/
/*border: 3px solid darkgray;*/
/*outline: 0;*/
/*-webkit-box-shadow: none;*/
/*box-shadow: none;*/
/*}*/

.an i:hover {
    color: #ff6600;
}
/***********************************/

.form-control{
    padding: 0 6px !important;
    /*height: 25px !important;*/
}

input[type="text"]{
    font-size: 14px !important;
    height: 25px !important;
}
input[type="number"]{
    font-size: 14px !important;
    height: 25px !important;
}
input[type="password"]{
    font-size: 14px !important;
    height: 25px !important;
}
input[type="email"]{
    font-size: 14px !important;
    height: 25px !important;
}
select{
    height: 25px !important;
}


label {
    font-size: 15px;
    line-height: 1;
    font-weight: 100;
}

.list li{
    font-weight: 600;
    color: #ff6600;
    font-size: large;
}

.list li a{
    color: #008CC9;
}


.content-wrapper {
    left: 0;
    padding: 60px 0 0 0;
    width: 100%;
    position: relative;
}

/*racine*/
.racine{
    padding: 0;
    min-height: 70%;
}

#racine .tab-content{
    padding-top: 0;
    min-height: 400px;
    max-height: 400px;
}
/**/

/*composant*/
.composants{
    max-height: 465px;
}
#composant .tab-content{
    min-height: 420px;
    max-height: 420px;
}

.composant .tab-pane{
    min-height: 401px;
    max-height: 409px;
    overflow-y: auto;
}

/*component*/
.component-group{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.components{
    /*background-color: #E2E2E2;*/
    color:  #555;
    border: 1px solid  lightgray;
    height: 44px;
    width: /*48%*/ 100px;
    margin: 3px 0 3px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


.components a{
    width:100%;
    display:block ;
    color: #0a001f;
    height:100%;
}

.sizer{
    width: 100%;
    padding: 0  0  0  10px;
    padding-top: 8px;
    font-size: 12px;
}

.spacer {
    margin-top: 15px;
    margin-bottom: 15px;
}

.components:hover{
    background-color: #E7E7E7;

}
.components_label{
    width: auto;
    /*padding-left: 0 ;*/
    padding-right: 0 ;
}
.components #icon{
    float: left;
    margin: 2px;
}
.composant h4{
    margin: 15px 0 10px 0;
    text-align: center;
    background-color: #ECEFF1 !important ;
    color: #0084bf;
}


/*recepteur*/
.recepteur{
    min-height: 465px;
    padding-right: 0;
    padding-left: 0;
}
.nav-tabs>li.active{
    border-top-color: transparent !important;
}
.nav-tabs>li:first-child.active>a {
    border-left-color: transparent !important;
}
/**/

/*properties*/
.properties{
    width: 17%;
    margin-left: 1%;
}
.properties-body{
    height: 87%;
    overflow-y: scroll;
}


.treetab{
    height: 80%;
    overflow-y: scroll;
}

@media (max-width: 500px) {
    /*recepteur*/
    .recepteur{
        width:100%;
        order:1;
        margin-bottom: 1%;
    }

    /*composant*/
    .composants{
        width: 100%;
        margin-bottom: 1%;
        order:2;
    }



    /*properties*/
    .properties{
        width: 100%;
        margin-bottom: 1%;
        order:3;
    }


}

.floatingPanel {
    /*margin-bottom: 20px;*/
    -webkit-box-sizing: border-box;
    background-color: white;
    box-sizing: border-box;
    /*border-right: 1px solid #aaa;*/
    box-shadow: 0 0 0 1px rgba(0,0,0,.1),0 2px 3px rgba(0,0,0,.2);
}



/***************************************************************/

#wrapper {
    padding-left: -216px;
}

.contentPlusSidebar {
    margin-left: 216px;
    transition: all 0.3s ease 0s;
}

.contentSeul{
    margin-left: 0 ;
    transition: all 0.3s ease 0s;
}

.sidebarCachee{
    margin-left: -216px;
}

.sidebarVisible{
    margin-left: 0 ;
}


#sidebar-wrapper {
    background-color: #FFF;
    position: fixed;
    top: 51px;
    width: 216px;
    height: 100%;
    z-index: 1000;
    transition: all 0.3s ease 0s;
    /*outline: 1px solid #2a2a2a;*/
    overflow-y: auto;
}
#sidebar-wrapper ul{
    list-style: none;
    padding: 10px 0 10px 0;
    margin: 0;
}
#sidebar-wrapper li{
    margin-left: 10px;
    transition: all 0.3s;
}
.sidebar-wrapper li:hover{
    background-color: lightgrey;
    /*border-left: 5px solid #eee;*/
}
#sidebar-wrapper h3{
    /*text-align: center;*/
    margin: 0;
    /*padding: 10px;*/
    /*background-color: #2a2a2a;*/
}
#sidebar-wrapper a{
    color: lightslategray;
    display: block;
    padding: 0 ;
    text-decoration: none;
    font-weight: 600;
}
#sidebar-wrapper i{
    font-size: 18px
}


#wrapper.active {
    padding-left: 0;
}

#wrapper.active #sidebar-wrapper {
    left: 0;
}

#page-content-wrapper {
    /*position: absolute;*/
    /*width: 100%;*/
    /*top: 70px;*/
    /*height:100%;*/
    overflow-x: hidden;
    transition: all 0.3s /*ease 0s*/;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 216px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-nav li {
    line-height: 40px;
    text-indent: 3px;
}

.sidebar-nav li a {
    color: #999999;
    display: block;
    text-decoration: none;
    padding-left: 60px;
}

.sidebar-nav li a span:before {
    position: absolute;
    left: 0;
    color: #41484c;
    text-align: center;
    width: 20px;
    line-height: 18px;
}





.sidebar-nav > .sidebar-brand {
    height: 65px;
    line-height: 60px;
    font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#menu-toggle {
    text-decoration: none;
    float: left;
    color: #fff;
    padding-right: 15px;
}

.stateTitle{
    color: #fff !important;
    margin-top: 2px !important;
    text-decoration: none !important;
}

@media (max-width:767px) {

    #wrapper {
        padding-left: 0;
    }

    .sidebar-wrapper {
        left: 0;
    }

    #wrapper.active {
        position: relative;
        left: 216px;
    }

    #wrapper.active .sidebar-wrapper {
        left: 216px;
        width: 216px;
        transition: all 0.3s /*ease 0s*/;
    }

    #menu-toggle {
        display: inline-block;
    }

}



/**/
.dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 127px;
    z-index: 10;
}
/**/
.navcustum{
    border: none;
    box-shadow: 0 0 4px rgba(0,0,0,0.14),0 1px 2px rgba(0,0,0,.28);
    content: "";
    background-color: #518FF5;
    height: 56px;
}

.position1:before{
    right: 16px !important;
}
.position1{
    top: 46px !important;
    right: -9px !important;
}
.position2:before{
    top: -10 !important;
    right: 17px !important;
}
.position2{
    top: 46px !important;
    left: -205px !important;
}
.position3:before{
    top: -10 !important;
    right: 17px !important;
}
.position3{
    top: 46px !important;
    left: -205px !important;
}


.o-c{
    color: white !important;
}
.navbar-nav>li>a {
    padding-top: 8px;
    /* padding-bottom: 15px; */
    padding-left: 8px;
}
.navbar-inverse .navbar-nav>.open>a {
    color: #fff;
    background-color: transparent  !important;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    font-size: 20px;
}
.navbar-nav>li>.dropdown-menu {
    top:56px;
}
.navbar-default {
    background-color: #f6f6f6;
    border-color: #cdc8ce;
}
.navbar-default .navbar-brand {
    color: #62696b;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffffff;
}
.navbar-default .navbar-text {
    color: #62696b;
}
.navbar-default .navbar-nav > li > a {
    color: #62696b;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #cdc8ce;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #cdc8ce;
}
.navbar-default .navbar-toggle {
    border-color: #cdc8ce;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #cdc8ce;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #62696b;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #62696b;
}
.navbar-default .navbar-link {
    color: #62696b;
}
.navbar-default .navbar-link:hover {
    color: #ffffff;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #62696b;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #cdc8ce;
    }
}




/**/
/**/

/* Common button styles */
.button {
    /*float: left;*/
    min-width: 150px;
    /*max-width: 250px;*/
    /*display: block;*/
    /*margin: 1em;*/
    padding: 1em 2em;
    border: none;
    background: none;
    color: inherit;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}
.button:focus {
    outline: none;
}
.button > span {
    vertical-align: middle;
}


/* Sizes */
.button--size-s {
    font-size: 14px;
}
.button--size-m {
    font-size: 16px;
}
.button--size-l {
    font-size: 18px;
}

/* Typography and Roundedness */
.button--text-upper {
    letter-spacing: 2px;
    text-transform: uppercase;
}
.button--text-thin {
    font-weight: 300;
}
.button--text-medium {
    font-weight: 500;
}
.button--text-thick {
    font-weight: 600;
}
.button--round-s {
    border-radius: 5px;
}
.button--round-m {
    border-radius: 15px;
}
.button--round-l {
    border-radius: 40px;
}

/* Borders */
.button--border-thin {
    border: 1px solid;
}
.button--border-medium {
    border: 2px solid;
}
.button--border-thick {
    border: 3px solid;
}

/* Individual button styles */

/* Ujarak */
.button--ujarak {
    -webkit-transition: border-color 0.4s, color 0.4s;
    transition: border-color 0.4s, color 0.4s;
}
.button--ujarak::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #37474f;
    z-index: -1;
    opacity: 0;
    -webkit-transform: scale3d(0.7, 1, 1);
    transform: scale3d(0.7, 1, 1);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--ujarak.button--round-s::before {
    border-radius: 2px;
}
.button--ujarak.button--inverted::before {
    background: #C0C1C2;
}
.button--ujarak,
.button--ujarak::before {
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--ujarak:hover {
    color: #fff;
    border-color: #37474f;
}
/*.button--ujarak.button--inverted:hover {*/
/*color: #37474F;*/
/*border-color:  #ff6600 !*#fff*!;*/
/*}*/
.button--ujarak:hover::before {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}


/* Sacnite */
.button.button--sacnite {

    width: 50px;
    height: 50px;
    min-width: 0;
    padding: 0;
    color: #fff;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}



.button--scanite.button--round-l {
    border-radius: 50%;
}
.button--sacnite.button--inverted {
    color: #37474f;
}
.button--sacnite::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    z-index: -1;
    box-shadow: inset 0 0 0 35px #37474f;
    -webkit-transform: scale3d(0.9, 0.9, 1);
    transform: scale3d(0.9, 0.9, 1);
    -webkit-transition: box-shadow 0.3s, -webkit-transform 0.3s;
    transition: box-shadow 0.3s, transform 0.3s;
}
.button--sacnite.button--inverted::before {
    box-shadow: inset 0 0 0 35px #fff;
}
.button--sacnite .button__icon {
    font-size: 22px;
    width: 22px;
}
.button--sacnite > span {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.button--sacnite:hover {
    color: #37474f;
}
.button--sacnite.button--inverted:hover {
    color: #fff;
}
.button--sacnite:hover::before {
    box-shadow: inset 0 0 0 2px #37474f;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
.button--sacnite.button--inverted:hover::before {
    box-shadow: inset 0 0 0 2px #fff;
}

/*end button style*/


/*  SECTIONS  */
.section {
    clear: both;
    /*width: 1080px;*/
    padding: 0;
    margin: 0;
    display: flex;
    align-items: flex-start;
    flex-flow: row wrap ;
    /*border: 1px solid ;*/
    /*justify-content: space-between;*/
}

.title{
    margin-bottom: 15px;
    margin-left: 11px;
}

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

.folder{
    color: #8f8f8f;
    padding: 10px;
    height: 100%;
    max-width: 36px;
    max-height: 36px;
    display: inline-block;
    background-color: rgba(143,143,143,0.21);
}

.modules{
    background-color: #fff;
    margin-bottom:5px;
    width: 296px;
    height: 204px;
    margin: 10px;
}
.modules img{
    height: 30px;
}
.modules:hover{
    background-color: lightgray;
    color: #fff;
    transition: 5ms;
}

/******************** dashboard styling****/

.icons {
    text-decoration: none;
    color: lightgrey;
    float: right;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50px;
}

.icons[hover]{
    color: black;
    background-color: lightgrey;
    transition: .5s;
}
.blockTitle  a{
    text-decoration: none;
    color: lightgrey;
    padding: 8px;
    float: right;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50px;
}
.blockTitle  a:hover {
    color: black;
    background-color: lightgrey;
    transition: .5s;
}
.blockTitle span{
    color: rgba(158,158,158,0.38);
    text-transform: uppercase;
    font-weight: 600;
    color: #a9a9a9;
}

.md{
    margin-bottom: 30px;
    /*position: fixed;*/
    /*top: 120px;*/
    /*left: 884px;*/
}

.md #ul{
    padding-left: 0 ;
    list-style: none;
}
.li-b{
    /*border-bottom: 1px solid lightgray;*/
    margin-bottom: 10px;
}

.li-b .b-t{
    margin:15px 0  10px 0 ;
    background-color: #ECEFF1;
    color: #0084bf;
}

/*block action*/
.block-title{
    height: 35px;
    padding: 6px;
    border-bottom: 1px solid lightgray;
}

.block-title ul{
    display: inline-flex;
    float: right;
    list-style: none;
    font-size: inherit;
}

.block-title  li{
    text-decoration: none;
    color: lightgrey;
    width: 25px;
    height: 25px;
    text-align: -webkit-center;
    padding-top: 2px;
    text-align: center;
    border-radius: 50px;
}
.block-title  li span{
    /*padding: 5px;*/
}
.block-title  li:hover {
    color: #fff !important;
    background-color: #999;
    transition: .5s;
}

.block-title .d-d{
    top: 306px !important;
    display: block !important;
    left: 1032px !important;
    right: auto;

}

.block {
    list-style: none;
    padding-left: 0 ;
}


.block hr{
    margin: 6px 0  6px 0 ;
}
.block-body.title{
    height: 35px;
}
.block-body{
    /*background-color: #fff; padding: 10px; margin: 15px 0  15px 0 ;*/
    /*max-height: 50px;*/
    color: dimgrey;
    font-family: "Open Sans";
    font-size: 16px;
}
.data-content{
    padding: 20px;
}

.f-i{
    font-size: 19px;
    margin: inherit;
}

/******OPERATION BAR ******/
.operation-bar{
    font-family: 'Open Sans', sans-serif;
    color: #999;
    font-size: 20px;
    height: 35px;
    padding-left: 0 ;
    /*margin-top: 70px;*/
    /*margin-left: 20px;*/
    /*margin-bottom: 20px;*/
}

.operation-bar ul{
    display: inline-flex; list-style: none
}

.operation-bar li{
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50px;
    font-size: 18px;
    margin: 0  15px;
}
.operation-bar li:hover{
    color: black;
    background-color: lightgrey;
    transition: 0.5s;
}

/********moduleInfo********/

.moduleInfo {
    font-family: 'Open Sans', sans-serif;

}.moduleInfo .m-d{
     color: dimgrey;
     font-size: small;
 }

.l-m{
    float: right;
}

.m-dd{
    width: 250px;
    left: -150px;
    border-radius:0 ;
    text-align: right;
}
.m-dd li{
    padding: 0  15px 0  15px;
}

.m-dd li:hover{
    /*background-color: #cdc8ce;*/
}
.m-dd ul:last-child{
    border-bottom: none;
}

.Gl{
    width: 217px; height: 60px;
}
.gc{
    display: flex; margin: 7px; width: 88px; float: left; text-align: center;
}
.nav-options{
    border-radius: 50px;
    background-position: -12px;
    width: 35px;
    height: 35px;
    background-size: 58px;
    margin: 10px;
    background-repeat: no-repeat;
}
.option-label{
    position: fixed;
    font-size: 12px;
    color: #fff;
    font-weight: 700;
    background-color: lightslategray;
    border-radius: 50px;
    height: 18px;
    width: 18px;
    padding-left: 1px;
}
.option-label-message{
    top: 10px;
    right: 195px;
    text-align: -webkit-center;
}
.option-label-notif{
    top: 10px;
    right: 143px;
    background-color: yellowgreen;
    text-align: -webkit-center;
}
.option-label-task{
    top: 10px;
    right: 84px;
    background-color: red;
    text-align: -webkit-center;
}
/*partial listview*/
.partial-view {
    padding: 0;
}

.partial-view {
    padding:0;
}
.partial-view span{
    float: right;
    color:  #F76506;
}
#composant{
    padding: 0;
}

#composant .tab-content{
    padding: 0;
}
.partial-view a{
    text-decoration: none;
}
/*.partial-view #p-i{*/
/*margin-right: 5px;*/
/*font-size: large;*/
/*}*/
/*tabs heading custum*/
.tab-content{
    padding: 10px 10px 0 15px;
}
ul.nav.nav-tabs {
    font-family: sans-serif;
    font-size: 17px;
    background: #F5F5F5;
}
.nav-tabs>li>a {
    color: darkcyan;
    border-radius: 0 !important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: darkgrey;
    font-weight: 800;
}
/*login style*/
.login{
    max-width: 350px;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
}
.login input{

}
.userpic{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
/*resource style*/

#path .tab-content{
    overflow-y: scroll;
    height: 419px;
}
#methodParam ul.nav.nav-tabs{
    background: transparent !important;
    border:none !important;
}
.responsedropdown{
    width: 250px;
    left: 24px;
    border-radius: initial;
    padding: 15px 10px 15px 15px !important;
    top: -27px;
}
.editMethod{
    padding: 16px !important ;
    width: 250px !important;
    top: -26px !important;
    left: 56px !important;
    border-radius: 0 !important;
}
.addmethod{
    padding: 16px !important;
    width: 250px !important;
    top: -13px !important;
    left: -224px !important;
    border-radius: 0 !important;
}
.content{
    padding: 0;
    min-height: 70%;
}
.content-inner{
    padding-left: 0;
    height:100%;
    width:100%;
}


/*modal style*/
.modal{
    /*top:200px !important;*/
}
.modal-dialog {
    /*width: 400px !important;*/
}
.modal-content{
    border-radius: 0 !important;
}

/*tabs custumization*/
.nav-tabs { border-bottom: 2px solid #DDD; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
.nav-tabs > li > a { border: none; color: #666; }
.nav-tabs > li.active > a, .nav-tabs > li > a:hover {
    border: none;
    color: #0084bf !important;
    background: transparent;
}
.nav-tabs > li > a::after {
    content: "";
    background: #0084bf;
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0 ;
    bottom: -1px;
    transition: all 250ms ease 0s;
    transform: scale(0); }
.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 15px 0; }
.tab-content{padding:20px}

/*.card {background: #FFF none repeat scroll 0% 0%; box-shadow: 0  1px 3px rgba(0, 0, 0, 0.3); margin-bottom: 30px; }*/
.items{
    padding: 5px 5px 0 5px;
    list-style: none;
}
.items li{
    line-height: 22px;
    /*text-indent: 8px;*/
}
.items div{
    padding: 0;
}
.item-label-g{
    padding: 0; 
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.item-label{
    line-height: 30px;
    color: rgba(0,0,0,.7);
    font-size: 13px;
    cursor: pointer;
}
.action-item{
    padding: 4px 4px;
}
.action{
    float: right; font-size: 12px;
}
.action-delete{
    color: #F76506;
}
.action-edit{
    color: #0084bf;
}
.action span{
    cursor: pointer;
    float: right;
}
.input-item-label{
    font-size: 13px !important;
}
/*generic actions*/
.g-action{
    background-color: lightgrey;
    color: lightslategray;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    top: -2px;
    /* text-align: center; */
    padding: 5px 3px 1px 6px;
}
.g-action:hover{
    background-color: #999;
    color: #fff;
    transition: 0.9ms;
}
.g_header{
    background-color:#F5F5F5;
    height: 35px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 5px
}
.actions span{
    float: right;
    margin-right: 10px;
    font-size: smaller;
    cursor: pointer;
}
#params ul.nav.nav-tabs{
    background-color: transparent;
}
#params .tab-content{
    padding: 0;
}
.request {
    padding: 5px 5px;
    font-family: Cantarell, Arial, sans-serif;
}
.request .param{
    margin-right: 10px;
    color: rgb(17, 85, 204);
    font-size: small;
}
.newgroup {
    width: 250px;
    left: -224px;
    border-radius: initial;
    padding: 15px 10px 15px 15px !important;
    top: 29px;
}
 .timeline {
     list-style: none;
     padding: 20px 0 20px;
     position: relative;
 }


.timeline > li {
    margin-bottom: 20px;
    position: relative;
}
.timeline p{
    text-overflow: ellipsis;
    overflow: hidden;
}

{
    clear: both;
}

.timeline > li > .timeline-panel {
    width:  100% ;
    float: left;
    background-color: #FFF;
    color: #34495e;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    margin-bottom: 30px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}


.timeline > li > .timeline-panel .hr-left{
    height: 1px;
    width: 100px;
    margin-bottom: 20px;
    background-color: #ddd;
}

.timeline .timeline-head{
    text-align: right;
    margin-right: 80px;
    margin-top: 20px;
}


.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}



.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

.timeline-body > p + p {
    margin-top: 5px;
}

tbody{
    font-size: 13px;
    width: inherit;
    position: relative;
    z-index: 4;
    padding: 10px 24px;
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
}
tr{
    cursor: pointer;
}
th{
    font-weight: 400;
    border-bottom: 1px solid #ddd !important;
    background-color: #F5F5F5;
}
.userheader{
    background-color: #F5F5F5;
    padding: 0 !important;
}
.userheader input{
    height: 45px;
    border: none;
}
.userheader input:focus{
    outline: none;
    border: none;
}
.userheader div{
    padding: 0;
}
.search input{
    height: 45px !important;
    width: 100%;
    background-color: #F5F5F5;
}
.footer{
    background-color: #f5f5f5;
    border-top: 1px solid rgba(0,0,0,.08);
    color: rgba(0,0,0,0.54);
    font-size: 12px;
    height: 56px;
    padding-left: 24px;
}
.searchEditing input{
    background-color: #FFF;
}
.searchEditing {
    margin-bottom: 0 !important;
    background-color: #FFF;
    border-bottom: 1px solid lightgrey;
}
.user h3{
    padding: 5px;
}
.pager li>a, .pager li>span {
    display: inline-block;
    padding: 5px 14px;
    background-color: transparent;
    border: none;
}
.icon{

    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    color: rgba(0,0,0,0.54);
    padding: 14px 1px 10px 54px;
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
}

 .g-action2{
     font-size: 11px;
     float: right;
     background-color: lightgrey;
     color: lightslategray;
     width: 18px;
     height: 18px;
     border-radius: 50px;
     padding: 4px 4px 4px 4px;
 }
.g-action2:hover{
    color: #FFF;
    background-color: dimgray;
}
.role{
    padding: 10px !important;
}
.role .action{
    color: lightgray;
}

.selectedItem{
    color: #FFF !important;
    font-weight: 600;
    background-color: #5CB85C;
    border-radius: 2px;
}
.selectedItem span{
    color: #FFF !important;
}

.loader {
    border: 2px solid #f3f3f3;
    border-top: 2px solid #3498db;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 2s linear infinite
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.attr{
    display: inline-flex;
}
.user-edit{
    margin: 3px;
    color: lightgrey;
}
.form-control-static {
    padding-top: 3px;

}
.user-groups{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}
.grp{
    margin: 5px;
    background-color: lightsteelblue;
}
.grp:hover{
    cursor: default;
}
.grp-granted{
    background-color: #5CB85C;
}
._loader{
    display: -webkit-inline-box;
}
._li{
    margin-bottom: 20px;
}
.selected-node{
    background-color: green;
}
#method-action{
    height: auto;
}
.method-action {
    padding: 0;
    list-style: none;
    display: inline-flex;
}
#method-action ul{
    padding: 0;
}
.method-action li {
    border: 1px solid lightgray;
    margin-right: 2px;
}
.method-action  span{
    padding: 5px;
}