<!-- Generated html file -->
<div id="group1"  class=""> <!-- group1 begins-->
<div class="form-group">
<label for="input_gname">Name</label>
<input class=" form-control"  placeholder="name" name="input_gname" id="input_gname" type="text" ng-model="gname"/>
</div> <!-- div id:input_gname -->
<div class="form-group" >
<label for="textarea_desc">Description</label>
<div>
<textarea id="textarea_desc" class="form-control" name="textarea_desc" ng-model="desc"></textarea>
</div>
</div>
<button  ng-click="addgroup">ADD GROUP</button>
</div> <!-- group1 ends-->
