<!-- Generated html file -->
<div id="group22"  class=""> <!-- group22 begins-->
<form>
<div class="form-body">
<div id="person"  class=""> <!-- person begins-->
<div class="form-group">
<label for="input_nom">nom</label>
<input class=" form-control"  placeholder="nom" name="input_nom" id="input_nom" type="null" ng-model="null"/>
</div> <!-- div id:input_nom -->
<div  >
<label for="radio6">Type</label>
<div >
<label class=" radio-inline">
<input id="radio6" type="radio" value="Entreprise" ng-model="type"> Entreprise
</label>
<label class=" radio-inline">
<input id="radio6" type="radio" value="persone" ng-model="type"> persone
</label>
</div>
</div> <!-- div id:radio6 -->
<div class="form-group">
<label for="input_title">Title</label>
<input class=" form-control"  placeholder="Title" name="input_title" id="input_title" type="null" ng-model="null"/>
</div> <!-- div id:input_title -->
<div  >
<label for="sexe">sexe</label>
<div >
<label class=" radio-inline">
<input id="sexe" type="radio" value="F" ng-model="sexe"> F
</label>
<label class=" radio-inline">
<input id="sexe" type="radio" value="M" ng-model="sexe"> M
</label>
</div>
</div> <!-- div id:sexe -->
<div class="form-group">
<label for="input_date">Date of birth</label>
<input class=" form-control"  placeholder="Date of birth" name="input_date" id="input_date" type="text" ng-model="birthday"/>
</div> <!-- div id:input_date -->
<div class="form-group">
<label for="input_bp">Place of birth</label>
<input class=" form-control"  placeholder="Place of birth" name="input_bp" id="input_bp" type="text" ng-model="birthplace"/>
</div> <!-- div id:input_bp -->
</div> <!-- person ends-->
<div id="enterprise"  class=""> <!-- enterprise begins-->
</div> <!-- enterprise ends-->
<div id="group_contact"  class=""> <!-- group_contact begins-->
<h4> Contact </h4>
<hr>
<div class="form-group">
<label for="input_tel">Tel</label>
<input class=" form-control"  placeholder="tel" name="input_tel" id="input_tel" type="text" ng-model="telephone"/>
</div> <!-- div id:input_tel -->
<div class="form-group">
<label for="input_mail">Email</label>
<input class=" form-control"  placeholder="email" name="input_mail" id="input_mail" type="email" ng-model="email"/>
</div> <!-- div id:input_mail -->
<div class="form-group" >
<label for="textarea_addr">Address</label>
<div>
<textarea id="textarea_addr" class="form-control" name="textarea_addr" ng-model="address"></textarea>
</div>
</div>
<div class="form-group">
<label for="input_bp">Boîte postal</label>
<input class=" form-control"  placeholder="bp" name="input_bp" id="input_bp" type="text" ng-model="bp"/>
</div> <!-- div id:input_bp -->
<div class="form-group">
<label for="input_city">city</label>
<input class=" form-control"  placeholder="city" name="input_city" id="input_city" type="text" ng-model="city"/>
</div> <!-- div id:input_city -->
<div class="form-group">
<label for="input_country">Country</label>
<input class=" form-control"  placeholder="ctry" name="input_country" id="input_country" type="text" ng-model="ctry"/>
</div> <!-- div id:input_country -->
</div> <!-- group_contact ends-->
</div>
</form>
</div> <!-- group22 ends-->
